﻿@model IEnumerable<HealthCareJC.Models.EventAd>
@{
    ViewBag.Title = "AllEvents";
}
<hr/>
<div class="container">
    <div class="row">
        <div>
            <h3 class="margin-bottom-5">Events</h3>
            <div class="clearfix"></div>
            <table id="showdata" class="table dataTables-example">
                <thead style="display: none">
                    <tr>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
            {
                <tr>
                    <td>
                        <div id="job-spotlight" class="showbiz-container">
                            <div>
                                <div>

                                    <ul>
                                        @foreach (var item in Model)
                                {
                                        

                                        <li>
                                            <div class="job-spotlight">
                                                <a href="@Url.Action("AllEvents","EventAds")">
                                                    <h4>
                                                        @item.Title<span class="part-time">
                                                            @item.EventDate.ToShortDateString()

                                                        </span> <span class="full-time">@item.time</span>
                                                    </h4>
                                                    <span><i class="fa fa-briefcase"></i>@item.eventCatrgory.Name</span>
                                                    <span><i class="fa fa-map-marker"></i>@item.Address</span>
                                                    <span><i class="fa fa-money"></i>@item.City</span>
                                                    <span><i class="fa fa-location-arrow"></i>@item.Zipcode</span>
                                                    <p>@item.Description</p>
                                                </a>
                                            </div>
                                        </li>

                                }

                                    </ul>

                                    <div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script>

        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                "searching": false,
                "ordering": false,
                "pageLength": 10,
                "bLengthChange": false,
                "stateSave": true,
                "info": false
                //  "bPaginate": false

            });

        });






    </script>
