﻿@model HealthCareJC.ViewModels.EventAdViewsModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/summernote/summernote.css" rel="stylesheet" />
<link href="~/Content/summernote/summernote-bs3.css" rel="stylesheet" />

<style>
    .datetime {
        padding: 14px 18px;
        outline: none;
        font-size: 15px;
        color: #909090;
        margin: 0;
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: block;
        background-color: #fcfcfc;
        font-weight: 500;
        border: 1px solid #2ebb1d;
        opacity: 1;
    }
    .ui-timepicker-wrapper {
        width: 76.5em;
    }
</style>

<hr/>
<div id="wrapper">
    <div class="clearfix"></div>
   
    <div class="container">
        <div class="row">
            <div class="notification notice closeable margin-bottom-40">
                <p><span>Have an account?</span> If you already have an account with HealthCare Job Center please Sign in to avoid filling this lengthy form. <a href="@Url.Action("Login","Account")"><i class="fa fa-arrow-right"></i> <span>Sign In</span></a></p>
 </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-8">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" id="jobrate" value="@Model.EventRate" />
                    <div class="row">
                        <div class="divider"><h3>Event Details</h3></div>
                        <hr />
                    </div>

                    <div class="row">
                       
                            <h5>Title</h5>
                            @Html.EditorFor(model => model.eventad.Title, new { htmlAttributes = new { @class = "search-field" } })
                            @Html.ValidationMessageFor(model => model.eventad.Title, "", new { @class = "text-danger" })
                       
                    </div>

                    <div class="row">
                        <h5>Description</h5>
@Html.TextAreaFor(model => model.eventad.Description, new { @cols = "40", @rows = "3", @class = "search-field" })
                        
                        @Html.ValidationMessageFor(model => model.eventad.Description, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <h5>Event Date</h5>
                            

                                @Html.EditorFor(model => model.eventad.EventDate, new { htmlAttributes = new { @class = "search-field date datetime" } })
                                @Html.ValidationMessageFor(model => model.eventad.EventDate, "", new { @class = "text-danger" })
                                
                               

                            </div>
                           
                        </div>
                    <div class="row">
                        <div class="form-group">
                            <h5>Event Time</h5>


                            @Html.EditorFor(model => model.eventad.time, new { htmlAttributes = new { @class = "search-field time datetime" } })
                            @Html.ValidationMessageFor(model => model.eventad.time, "", new { @class = "text-danger" })



                        </div>

                    </div>
                   

                    <div class="row">
                        <h5>Event Category</h5>
                        
                        @Html.DropDownListFor(model => model.eventad.EventCategoryId, new SelectList(ViewBag.eventCatagory, "Id", "Name"), new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.eventad.EventCategoryId, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Address</h5>


                        @Html.EditorFor(model => model.eventad.Address, new { htmlAttributes = new { @class = "search-field", @id = "location" } })
                        @Html.ValidationMessageFor(model => model.eventad.Address, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>City</h5>


                        @Html.EditorFor(model => model.eventad.City, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.eventad.City, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>State</h5>


                        @Html.EditorFor(model => model.eventad.State, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.eventad.State, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <h5>Zip code</h5>

                        @Html.EditorFor(model => model.eventad.Zipcode, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.eventad.Zipcode, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Contact Person</h5>

                        @Html.EditorFor(model => model.eventad.ContactPerson, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.eventad.ContactPerson, "", new { @class = "text-danger" })
                 
                </div>

                <div class="row">
                    <h5>Contact Phone</h5>

                    @Html.EditorFor(model => model.eventad.ContactPhone, new { htmlAttributes = new { @class = "search-field" } })
                    @Html.ValidationMessageFor(model => model.eventad.ContactPhone, "", new { @class = "text-danger" })

                </div>

                <div class="row">
                    <h5>Contact Email</h5>

                    @Html.EditorFor(model => model.eventad.ContactEmail, new { htmlAttributes = new { @class = "search-field" } })
                    @Html.ValidationMessageFor(model => model.eventad.ContactEmail, "", new { @class = "text-danger" })

                </div>

                    <div class="row">
                        <h5>Website</h5>

                        @Html.EditorFor(model => model.eventad.Website, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.eventad.Website, "", new { @class = "text-danger" })

                    </div>
                    
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <div class="row">
                            <div class="form-group">
                                <h5>First Name</h5>
                                @Html.EditorFor(model => model.user.FirstName, "", new { htmlattributes = new { @class = "search-field" } })
                                @Html.ValidationMessageFor(model => model.user.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                                <div class="row">
                                    <div class="form-group">
                                        <h5>Last Name</h5>
                                        @Html.EditorFor(model => model.user.LastName, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.user.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <h5>Email</h5>
                                        @Html.EditorFor(model => model.UserEmail, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <h5>Phone</h5>
                                        @Html.EditorFor(model => model.user.PhoneNumber, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.user.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                    }
                    
                    
                    
                    
                    <div class="row">
                        <div class="col-md-8">
                            <span class="pull-left">
                                <div class="form-group">
                                    <h4>Do you have a Coupon?</h4>
                                    <h5>Enter Coupon Name Here(No Coupon? Leave Blank)</h5>
                                    @Html.EditorFor(model => model.CouponName, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.CouponName, "", new { @class = "text-danger" })
                                </div>

                            </span>


                        </div>
                        <div class="col-md-4">
                            <div class="panel status panel-warning">
                                <div class="panel-heading">
                                    <h1 class="panel-title text-center">Event Amount</h1>
                                </div>
                                <div class="panel-body text-center">
                                    <strong id="jobamount">@Model.EventRate</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
                        <button name="button" class="button big margin-top-5">Post Event<i class="fa fa-arrow-circle-right"></i></button>
                    
                </div>

                    </div>
            }
            <div class="col-md-4">
                <h3 class="margin-bottom-5">Latest Events</h3>

                <!-- Navigation -->
                @*<div class="showbiz-navigation">
                <div id="showbiz_left_1" class="sb-navigation-left">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div id="showbiz_right_1" class="sb-navigation-right">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>*@
                <div class="clearfix"></div>
                @if (Model.eventAdList.Any())
                {
                    @*<div id="job-spotlight" class="showbiz-container">
                    <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1">
                    <div class="overflowholder">*@

                    <ul>
                        @foreach (var item in Model.eventAdList)
                        {


                            <li>
                                <div class="job-spotlight">
                                    <a href="@Url.Action("AllEvents", "EventAds")">
                                        <h3 style="color: brown"> @item.Title </h3>
                                        <h4>
                                            <span class="part-time">@item.EventDate.ToShortDateString()</span> 
                                            <span class="full-time">@item.time</span>
                                        </h4>
                                        <span><i class="fa fa-briefcase"></i>@item.eventCatrgory.Name</span><br/>
                                        <span><i class="fa fa-location-arrow"></i>@item.City</span><br/>
                                        <span><i class="fa zip-code"></i>@item.Zipcode</span><br/>
                                        <span><i class="fa fa-map-marker"></i>@item.Address</span>
                                        @*<p>@item.Description</p>*@
                                    </a>
                            </div>
                        </li>

                                        <br />
                        }

                    </ul>
                    @*<div class="row">
                        <div class="col-lg-4 col-lg-offset-3"><a href="@Url.Action("AllEvents","EventAds")" class="btn btn-success">Show More Events</a></div>
                    </div>*@
                                    <div class="clearfix"></div>

                                   
                }
                
                <a href="@Url.Action("AllEvents","EventAds")" class="btn btn-primary" style="width: 100%"> See All Events</a>

            </div>



</div>
        </div>
        </div>
                        <script>

       $(document).ready(function () {

           $('.dataTables-example').DataTable({

               "searching": false,
               "ordering": false,
               "pageLength": 10,
               "bLengthChange": false,
               "info": false
               //  "bPaginate": false

           });

       });





</script>

@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/summernote/summernote.min.js"></script>
        <!-- WYSIWYG Editor -->
        <script type="text/javascript" src="~/Scripts/jquery.sceditor.bbcode.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.sceditor.js"></script>

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>*@

<script>

    $("#CouponName").keyup(function () {
        //alert("KeyUp" + $("#CouponName").val());


        var CouponName = $("#CouponName").val();
        $.ajax({
            url: '@Url.Action("giveEventCouponValue", "ManageCoupons")',
            type: 'POST',
            data: JSON.stringify({
                "CouponName": CouponName,
            }),
            dataType: 'json',
            traditional: true,
            contentType: 'application/json',
            //beforeSend: function () {

            //},
            success: function (response) {
                // alert(response.amount);
                document.getElementById("jobamount").innerHTML = (parseInt(document.getElementById("jobrate").value)) - (parseInt(response.amount));

            },
            error: function (error) {
                alert(error);
                console.log(error);

            }
        });
    });


</script>