﻿@model HealthCareJC.Models.EventAd

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .datetime {
        padding: 14px 18px;
        outline: none;
        font-size: 15px;
        color: #909090;
        margin: 0;
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: block;
        background-color: #fcfcfc;
        font-weight: 500;
        border: 1px solid #e0e0e0;
        opacity: 1;
    }

    .ui-timepicker-wrapper {
        width: 76.5em;
    }
</style>
<div id="wrapper">
    <div class="clearfix"></div>
    <div id="titlebar" class="single submit-page">
        <div class="container">

            <div class="row">
                <h2><i class="fa fa-plus-circle"></i> Edit Event</h2>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-12">
                    <div class="notification notice closeable margin-bottom-40">
                        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "search-field",@style="display:none;" } })
                        @Html.CheckBoxFor(model => model.status, new { @class ="search-field",@style ="display:none;" })
                        <h5>Title</h5>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                    </div>
                    
                    <div class="row">
                        <h5>Event Number</h5>
                        @Html.TextAreaFor(model => model.EventNumber, new { @cols = "40", @rows = "3", @class = "search-field" })

                        @Html.ValidationMessageFor(model => model.EventNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <h5>Description</h5>
                        @Html.TextAreaFor(model => model.Description, new { @cols = "40", @rows = "3", @class = "search-field" })

                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <h5>Event Date</h5>


                            @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "search-field date datetime" } })
                            @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })



                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <h5>Event Time</h5>


                            @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "search-field time datetime" } })
                            @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })



                        </div>

                    </div>

                    <div class="row">
                        <h5>Event Category</h5>

                        @Html.DropDownListFor(model => model.EventCategoryId, new SelectList(ViewBag.eventCatagory, "Id", "Name"), new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.EventCategoryId, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Address</h5>


                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "search-field", @id = "location" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>City</h5>


                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>State</h5>


                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <h5>Zip code</h5>

                        @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Contact Person</h5>

                        @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Contact Phone</h5>

                        @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Contact Email</h5>

                        @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">
                        <h5>Website</h5>

                        @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })

                    </div>

                    <div class="row">

                        <button name="button" class="button big margin-top-5">Update<i class="fa fa-arrow-circle-right"></i></button>

                    </div>

                </div>


            }
        </div>

    </div>
</div>