﻿@model HealthCareJC.ViewModels.EventAdViewsModel

<body>
    <hr />

    @{
        if (Model.eventlist != null)
        {
            foreach (var item in Model.eventlist)
            {



                <div id="wrapper">

                    <div class="container">

                        <!-- Recent Jobs -->
                        <div class="row">
                            <div class="col-md-8">

                                <!-- Company Info -->
                                <div class="company-info">
                                    <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                                    <div class="content">
                                        <h3 style="color: green">@item.emp.CompanyName</h3>
                                        <span><i class="fa fa-building"></i>@item.emp.CompanyAddress</span>
                                        <span><i class="fa fa-arrow-right"></i>@item.emp.CompanyContactNo</span>
                                        <span><i class="fa fa-medkit"></i>@item.emp.CompanyEmail</span>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>


                            <div class="col-lg-4">

                                <div class="margin-top-10">
                                    <div class="widget">
                                        <h4>Overview</h4>

                                        <div class="job-overview">

                                            <ul>
                                                <li>
                                                    <i class="fa fa-list"></i>
                                                    <div>
                                                        <strong>Title:</strong>
                                                        <span>@item.events.Title</span>
                                                    </div>
                                                </li>

                                                <li>
                                                    <i class="fa fa-map-marker"></i>
                                                    <div>
                                                        <strong>Address:</strong>
                                                        <span>@item.events.Address</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <i class="fa fa-user"></i>
                                                    <div>
                                                        <strong>Time:</strong>
                                                        <span>@item.events.time</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <i class="fa fa-user"></i>
                                                   
                                                    <div>
                                                        <strong>Event Date:</strong>
                                                        <span>@item.events.EventDate.ToShortDateString()</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <i class="fa fa-user"></i>
                                                    <div>
                                                        <strong>ContactPhone:</strong>
                                                        <span>@item.events.ContactPhone</span>
                                                    </div>
                                                </li>

 <li>
                                                    <i class="fa fa-user"></i>
                                                    <div>
                                                        <strong>Status</strong>
                                                        <span>
@if (item.events.status)
{
    <b style="color:dodgerblue">Approved</b>         <a href="@Url.Action("disApprove", "EventAds")?id=@item.events.Id"><i class="fa fa-pencil"></i> DisApprove</a>
}
else
{

    <b style="color:dodgerblue">Not Approved</b>        <a href="@Url.Action("PublishEvent", "EventAds")?id=@item.events.Id"><i class="fa fa-pencil"></i> Approve</a>
                                        }</span>
                                                    </div>
                                                </li>



                                            </ul>








                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Widgets / End -->

                        </div>
                    </div>


                </div>
            }

        }
    }
</body>



