﻿@model HealthCareJC.ViewModels.ManageEventsViewModel
@using HealthCareJC.Models;
@using Microsoft.AspNet.Identity;
@{


    ViewBag.Title = "ManageEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
        ApplicationDbContext db = new ApplicationDbContext();

        var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

        var usr = db.Users.Find(usrid);
        var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
    
}


<body>
    <div id="wrapper">
        <div class="clearfix"></div>
        
        <hr/>

        <div class="container">
            <div class="row">
                <h2>Manage Events</h2>
                @if (obj.UserType == "Employer")
                {
                    <nav id="breadcrumbs">
                        <ul>

                            <li>

                                <a href="@Url.Action("ManageJobs", "Jobs")" class="btn btn-success" style="color: white">Manage Jobs</a>
                            </li>
                            <li>

                                <a href="@Url.Action("EditEmployeerProfile", "Jobs")?userid=@obj.Id" class="btn btn-warning" style="color: white">My Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-info" style="color: white">Change Password</a>
                            </li>

                            <li><a href="@Url.Action("PostJob", "Jobs")" class="btn btn-primary" style="color: white"> Post New Job </a></li>

                            <li><a href="@Url.Action("Create", "EventAds")" class="btn btn-success" style="color: white"> Post New Event </a></li>
                            <li>
                                <a href="@Url.Action("ClearLogin", "Account")" class="btn btn-link">Log Out</a>
                            </li>
                        </ul>
                    </nav>
                }
                else if (obj.UserType == "Administrator")
                {
                    <nav id="breadcrumbs">
                        <ul>



                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageJobs", "Jobs")" class="btn btn-success" style="color: white">Manage Jobs</a>
                            </li>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info" style="color: white"> Manage Employers </a></li>
                            <li style="margin-bottom: 10px">

                                <a href="#" class="btn btn-info" style="color: white">Manage Job Seekers</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary" style="color: white">Manage Job Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "Specialities")" class="btn btn-success" style="color: white"> Manage Job Specialities</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning" style="color: white"> Manage Event Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }
                else
                {
                    <nav id="breadcrumbs">

                        <ul>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("AppliedJobs","Resumes")?id=@obj.Id" class="btn btn-primary" style="color: white"> Applied Jobs </a></li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("EditResume","Resumes")?UserID=@obj.Id" class="btn btn-info" style="color: white">My Profile</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ResumeDetail","Resumes")?id=@obj.Id" class="btn btn-warning" style="color: white">My Resume</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-danger" style="color: white">Change Password</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin", "Account")">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }

            </div>
            <!-- Table -->
            <div class="row">

                <p class="margin-bottom-25">Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.</p>

                <table class="manage-table responsive-table">
                    <thead>
                    <tr>
                        <th><i class="fa fa-file-text"></i> Title</th>
                        <th><i class="fa fa-calendar"></i>Status</th>
                        <th><i class="fa fa-calendar"></i> Event Address</th>
                        <th><i class="fa fa-calendar"></i> Date</th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @if (Model.eventads.Any())
                    {
                        foreach (var item in Model.eventads)
                        {
                           





                            <tr>
                                <td class="title"><a href="#">@item.Title</a></td>
                                @if (item.status)
                                {
                                <td class="title">Approved</td>
                                }
                                else
                                {
                                    <td class="title">Un Approved</td>
                                }
                                <td>@item.Address</td>
                                <td>@item.EventDate.ToShortDateString()</td>
                                <td class="action">
                                  
                                   
                                    @if (usr.UserType == "Administrator")
                                    {
                                        if (item.status)
                                        {
                                            <a href="@Url.Action("disApprove", "EventAds")?id=@item.Id"><i class="fa fa-pencil"></i> DisApprove</a>
                                        }
                                        else
                                        {

                                            <a href="@Url.Action("PublishEvent", "EventAds")?id=@item.Id"><i class="fa fa-pencil"></i> Approve</a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Edit","EventAds")?id=@item.Id"><i class="fa  fa-pencil "></i>Edit</a>
                                        }
                                    <a href="@Url.Action("EventDetail","EventAds")?eventId=@item.Id" class="delete"><i class="fa fa-dashboard"></i> Details</a>

                                    <a href="@Url.Action("DeleteConfirmed","EventAds")" class="delete"><i class="fa fa-remove"></i> Delete</a>

                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>

                <br>
                @*<a href="@Url.Action("Create","EventAds")" class="button">Add event</a>*@

            </div>

        </div>



        <div class="margin-top-60"></div>



    </div>


</body>
<script>
    $(document).ready(function () {

        $('.manage-table').DataTable({
            "searching": false,
            "ordering": false,
            "pageLength": 10,
            "stateSave": true,
            "bLengthChange": false,
            "info": false,
            
        });


    });
</script>


