﻿@using System.Text.RegularExpressions
@model HealthCareJC.ViewModels.HomeSearchViewModel
@{
}

@if (Model.jobs.Count() <= 0)
{
    <div class="container">

        <div class="row">
            <center>
                <h1>
                    No Jobs Found With Selected Category & Location. <br/><a href="@Url.Action("Index")">Please try Again with Different Criteria.</a>
                </h1>
            </center>
            <br/>
        </div>
    </div>
}else
{


    <!-- Recent Jobs -->
    <div class="col-md-12">

        <table id="showdata" class="table dataTables-example">
            <thead style="display: none">
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody class="job-list">


            @{
                if (Model.jobs.Any())
                {
                    foreach (var item in Model.jobs)
                    {


                        <tr>
                            <td style="border-top: 0px">
                                <ul class="job-list">
                                    <li class="highlight">
                                        <a href="@Url.Action("JobDetail", "Jobs")?id=@item.job.Id">
                                            <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                                            <div class="job-list-content">
                                                <h4 style="color: green">
                                                    @item.job.JobTitle

                                                    @if (@item.job.JobType == "Part-Time")
                                                    {
                                                        <span class="part-time">Part-Time</span>
                                                    }
                                                    @if (@item.job.JobType == "Full-Time")
                                                    {
                                                        <span class="full-time">Full-Time</span>
                                                    }
                                                    @if (@item.job.JobType == "Internship")
                                                    {
                                                        <span class="internship">Internship</span>
                                                    }
                                                    @if (item.job.JobType == "Freelance")
                                                    {
                                                        <span class="freelance">Freelance</span>
                                                    }
                                                    @if (item.job.JobType == "Temporary")
                                                    {
                                                        <span class="temporary">Temporary</span>
                                                    }

                                                </h4>

                                                <h5> @item.emp.CompanyName</h5>
                                                <div class="job-icons">
                                                    <span><i class="fa fa-briefcase"></i>@item.caname</span>
                                                    <span><i class="fa fa-briefcase"></i>@item.specilty</span>
                                                    <span><i class="fa fa-map-marker"></i> @item.job.JobLocation</span>
                                                    <span><i class="fa fa-money"></i>$ @item.job.Compensation / @item.job.CompensationType</span>
                                                </div>
                                                <div class="job-desc">

                                                    @{
                                                        string firstWords = Regex.Match(@item.job.JobDescription, @"^(\w+\b.*?){10}").ToString();
                                                        <b>@firstWords ...</b>
                                                    }


                                                </div>
                                            </div>
                                        </a>

                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </td>
                        </tr>



                    }
                }
            }
            </tbody>
        </table>



        <div class="margin-bottom-55"></div>
    </div>


}

