﻿@using System.Data.SqlClient
@model HealthCareJC.ViewModels.HomeSearchViewModel
@{

    AjaxOptions SearchJob = new AjaxOptions
    {

        OnBegin = "OnBeginSearchJob",
        OnFailure = "OnFailtureSearchJob",
        OnSuccess = "OnSuccessSearchJob"

    };
}
<link href="~/Content/animate.css" rel="stylesheet" />
<body>

    <div id="wrapper">
        <div id="banner" class="home-header-image with-transparent-header">


            <div class="container">
                <div class="row" style="height: 500px">


                    <div class="col-lg-12">
                        <center> <h2 style="margin-top: 100px;color:#2ebb1d">Please select Desired Category For  Job Search</h2></center>

                        <ul id="popular-categories">
                            @foreach (var item in Model.jobCategory)
                            {

                                <li>
                                    <a href="javascript:;" data-id="@item.Id" onclick="getvalue(this);">
                                        <i class="ln  @item.Icon" style="color: #2ebb1d"></i>

                                        <h2 style="color: #2ebb1d"><b>   @item.CategoryName</b></h2>
                                    </a>

                                </li>

                            }

                        </ul>




                    </div>

                </div>

            </div>
        </div>


        <div id="banner2" class="home-location-image  with-transparent-header slideInLeft" style="margin-bottom: -20px; width:100%;">


            <div class="container">
                <div class="row">
                    <div class=col-md-12>
                        <center>
                            <div class="search-container">

                                <!-- Form -->
                                <h2 style="color: brown">Enter Location</h2>
                                @using (Html.BeginForm("SearchResult", "Home"))
                                {
                                    @Html.EditorFor(model => model.category, "", new { htmlattributes = new { @class = "ico-01", @placeholder = "Job Title, Keywords or Company Name", @id = "category", @style = "display:none;" } })
                                    @Html.EditorFor(model => model.location, "", new { htmlattributes = new { @class = "ico-02", @placeholder = "City, State, Zipcode or Address", @id = "location", @onchange = "Onchangelocation();", style = "width: 100%" } })

                                    <button style="visibility:hidden" id="search"><i class="fa fa-search"></i></button>
                                }
                                <!-- Browse Jobs -->
                                <div class="browse-jobs">
                                    @*You are searching in*@   <a href="javascript:;" onclick="showCategories();"> Click Here To Change The Category</a>
                                </div>

                                <!-- Announce -->
                                @*<div class="browse-jobs" style="color: #3bdbff">
                    <b>  We’ve over 15 000 job offers for you!</b>on
                </div>*@

                            </div>
                        </center>
                    </div>
                </div>

            </div>
        </div>

        @*<!-- Content
            ================================================== -->
            <div class="container">
                <div class="row">

                    <!-- Recent Jobs -->
                    <div class="col-md-12">
                        <div class="col-md-8" id="searchresult">
                            <table id="showdata" class="table dataTables-example">
                                <thead style="display: none">
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="job-list">


                                    @{
                                        if (Model.jobs.Any())
                                        {
                                            foreach (var item in Model.jobs)
                                            {


                                                <tr>
                                                    <td style="border-top: 0px">
                                                        <ul class="job-list">
                                                            <li class="highlight">
                                                                <a href="@Url.Action("JobDetail","Jobs")?id=@item.job.Id">
                                                                  <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                                                                    <div class="job-list-content">
                                                                        <h4>
                                                                            @item.job.JobTitle

                                                                            @if (@item.job.JobType == "Part-Time")
                                                                            {
                                                                                <span class="part-time">Part-Time</span>
                                                                            }
                                                                            @if (@item.job.JobType == "Full-Time")
                                                                            {
                                                                                <span class="full-time">Full-Time</span>
                                                                            }
                                                                            @if (@item.job.JobType == "Internship")
                                                                            {
                                                                                <span class="internship">Internship</span>
                                                                            }
                                                                            @if (item.job.JobType == "Freelance")
                                                                            {
                                                                                <span class="freelance">Freelance</span>
                                                                            }
                                                                            @if (item.job.JobType == "Temporary")
                                                                            {
                                                                                <span class="temporary">Temporary</span>
                                                                            }

                                                                           </h4>

                                                                        <h4> @item.emp.CompanyName</h4>
                                                                        <div class="job-icons">

                                                                                <span><i class="fa fa-briefcase"></i>@item.name</span>


                                                                            <span><i class="fa fa-map-marker"></i> @item.job.JobLocation</span>
                                                                            <span><i class="fa fa-money"></i> @item.job.Compensation - @item.job.CompensationType</span>
                                                                        </div>
                                                                        <div class="job-desc">
                                                                            @item.job.JobDescription
                                                                        </div>
                                                                    </div>
                                                                </a>

                                                            </li>
                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </td>
                                                </tr>



                                            }
                                        }
                                    }
                                </tbody>
                            </table>



                            <div class="margin-bottom-55"></div>
                        </div>
                    </div>

                    <!-- Job Spotlight -->
                    <div class="col-md-4">
                        <h3 class="margin-bottom-5">Job Spotlight</h3>

                        <!-- Navigation -->
                        <div class="showbiz-navigation">
                            <div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
                            <div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
                        </div>
                        <div class="clearfix"></div>

                        <!-- Showbiz Container -->
                        <div id="job-spotlight" class="showbiz-container">
                            <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1">
                                <div class="overflowholder">

                                    <ul>

                                        <li>
                                            <div class="job-spotlight">
                                                <a href="#"><h4>Social Media: Advertising Coordinator <span class="part-time">Part-Time</span></h4></a>
                                                <span><i class="fa fa-briefcase"></i> Mates</span>
                                                <span><i class="fa fa-map-marker"></i> New York</span>
                                                <span><i class="fa fa-money"></i> $20 / hour</span>
                                                <p>As advertising & content coordinator, you will support our social media team in producing high quality social content for a range of media channels.</p>
                                                <a href="job-page.html" class="button">Apply For This Job</a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="job-spotlight">
                                                <a href="#"><h4>Prestashop / WooCommerce Product Listing <span class="freelance">Freelance</span></h4></a>
                                                <span><i class="fa fa-briefcase"></i> King</span>
                                                <span><i class="fa fa-map-marker"></i> London</span>
                                                <span><i class="fa fa-money"></i> $25 / hour</span>
                                                <p>Etiam suscipit tellus ante, sit amet hendrerit magna varius in. Pellentesque lorem quis enim venenatis pellentesque.</p>
                                                <a href="job-page.html" class="button">Apply For This Job</a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="job-spotlight">
                                                <a href="#"><h4>Logo Design <span class="freelance">Freelance</span></h4></a>
                                                <span><i class="fa fa-briefcase"></i> Hexagon</span>
                                                <span><i class="fa fa-map-marker"></i> Sydney</span>
                                                <span><i class="fa fa-money"></i> $10 / hour</span>
                                                <p>Proin ligula neque, pretium et ipsum eget, mattis commodo dolor. Etiam tincidunt libero quis commodo.</p>
                                                <a href="job-page.html" class="button">Apply For This Job</a>
                                            </div>
                                        </li>


                                    </ul>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- Infobox -->
            <div class="infobox margin-bottom-0">
                <div class="container">
                    <div class="sixteen columns">Start Building Your Own Job Board Now <a href="my-account.html">Get Started</a></div>
                </div>
            </div>*@



    </div>
</body>



<script>

    $(document).ready(function() {

        $('.dataTables-example').DataTable({
            "searching": false,
            "ordering": false,
            "pageLength": 10,
            "bLengthChange": false,
            "info": false,
            "bPaginate": false
        });

        $("#banner").show('slow');
        $("#banner2").hide();
    });

    function OnBeginSearchJob() {


    }

    function OnFailtureSearchJob(error) {
        alert(error);

    }

    function OnSuccessSearchJob(data) {

        debugger;
        $("#searchresult").html("");
        $("#searchresult").html(data);


    }

    function getvalue(elem) {
        debugger;
        var id = elem.dataset.id;

        $("#category").val(id);
        $("#banner2").show('slow');
        $("#banner").hide();
    }


    function Onchangelocation() {


        $("#search").click();

        /*@*debugger;
        var location = $("#location").val();
        var category = $("#category").val();

        var model = { location: location, category: category };
        $.ajax({
            url: '@Url.Action("SearchResult", "Home")',
               data: model,
             
               success: function(data) {
                   
               }

           });*@*/

    }

       function showCategories() {
          
           $("#banner").show('slow');
           $("#banner2").hide();
       }

</script>




