﻿@using System.Text.RegularExpressions
@model HealthCareJC.ViewModels.HomeSearchViewModel
@{
}
<hr />
@if (Model.jobs.Count() <= 0)
{
    <div class="container">

     <div class="row">
         <div class="col-md-8 col-md-offset-2">
             <center>
                 

                 <div class="job-spotlight">
                     
                     <h1>
                         No Jobs Found With Selected Category & Location. <br/>
                     </h1>
                     <a href="@Url.Action("Index")" class="button">Please try Again with Different Criteria</a>
                 </div>

             </center>
         </div>
         <br/>
     </div>
    </div>
            }
            else
            {
            <div class="container">
@using (Html.BeginForm("SearchResult", "Home"))
{

                <div class="row">
                    @Html.EditorFor(model => model.category, "", new { htmlattributes = new { @class = "ico-01", @placeholder = "Job Title, Keywords or Company Name", @id = "category", @style = "display:none;" } })

                        @Html.EditorFor(model => model.location, "", new { htmlattributes = new { @class = "ico-02", @placeholder = "City, State, Zipcode or Address", @style = "display:none;" } })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.specialityid, Model.Specility, "Select Job Speciality", new { @class = "chosen-select-no-single" })
                        </div>
                        <div class="col-md-3">
                            <button><i class="fa fa-search"></i></button>
                        </div>

                </div>


                <div class="row">
                    <div class="col-md-8">
                        <span style="font-weight:bold;"> Health Professional Type&nbsp;&nbsp;</span> 
<div class="pretty p-default">
        <input type="checkbox" value="MD_NP_PA" onchange="checkBoxChecked();" checked />
        <div class="state">
            <label> MD,NP,PA</label>
        </div>
    </div>
                  <div class="pretty p-default">
         <input type="checkbox" value="Nurses_Med_Asst" onchange="checkBoxChecked();" checked />
        <div class="state">
            <label> Nurses, Med Asst</label>
        </div>
    </div>
<div class="pretty p-default">
         <input type="checkbox" value="Techs_IT"  onchange="checkBoxChecked();" checked />
        <div class="state">
            <label> Techs/IT</label>
        </div>
    </div>
<div class="pretty p-default">
        <input type="checkbox" value="Admin_Staff"   onchange="checkBoxChecked();" checked />
        <div class="state">
            <label>Admin Staff</label>
        </div>
    </div>
                        
                     
                 
                       
                   
                        
                    </div>
                </div>
}
                <hr />

                <div class="row" id="dataResult">

                    <!-- Recent Jobs -->
                    <div class="col-md-12">

                        <table id="showdata" class="table dataTables-example">
                            <thead style="display: none">
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="job-list">


                                @{
                                    if (Model.jobs.Any())
                                    {
                                        foreach (var item in Model.jobs)
                                        {


                                            <tr>
                                                <td style="border-top: 0px">
                                                    <ul class="job-list">
                                                        <li class="highlight">
                                                            <a href="@Url.Action("JobDetail","Jobs")?id=@item.job.Id">
                                                                <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                                                                <div class="job-list-content">
                                                                    <h4 style="color: green">
                                                                        @item.job.JobTitle

                                                                        @if (@item.job.JobType == "Part-Time")
                                                                        {
                                                                            <span class="part-time">Part-Time</span>
                                                                        }
                                                                        @if (@item.job.JobType == "Full-Time")
                                                                        {
                                                                            <span class="full-time">Full-Time</span>
                                                                        }
                                                                        @if (@item.job.JobType == "Internship")
                                                                        {
                                                                            <span class="internship">Internship</span>
                                                                        }
                                                                        @if (item.job.JobType == "Freelance")
                                                                        {
                                                                            <span class="freelance">Freelance</span>
                                                                        }
                                                                        @if (item.job.JobType == "Temporary")
                                                                        {
                                                                            <span class="temporary">Temporary</span>
                                                                        }

                                                                    </h4>

                                                                    <h5> @item.emp.CompanyName</h5>
                                                                    <div class="job-icons">
                                                                        <span><i class="fa fa-briefcase"></i>@item.caname</span>
                                                                        <span><i class="fa fa-briefcase"></i>@item.specilty</span>
                                                                        <span><i class="fa fa-map-marker"></i> @item.job.JobLocation</span>
                                                                        <span><i class="fa fa-map-marker"></i> @item.job.HealthProfessionalType</span>
                                                                        <span><i class="fa fa-money"></i>$ @item.job.Compensation / @item.job.CompensationType</span>
                                                                    </div>
                                                                    <div class="job-desc">

                                                                        @{
                                                                            string firstWords = Regex.Match(@item.job.JobDescription, @"^(\w+\b.*?){10}").ToString();
                                                                            <b>@firstWords ...</b>
                                                                        }


                                                                    </div>
                                                                </div>
                                                            </a>

                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>



                                                                                }
                                                                            }
                                }
                            </tbody>
                        </table>



                        <div class="margin-bottom-55"></div>
                    </div>
                </div>
            </div>
            }


<script>

    var my_table;
    $(document).ready(function() {

        var my_table=$('.dataTables-example').DataTable({
            "searching": false,
            "ordering": false,
            "pageLength": 10,
            "bLengthChange": false,
            "info": false,

        });
        $.fn.dataTableExt.afnFiltering.push(
            function(oSettings, aData, iDataIndex) {
                var isFruit = (aData[0] == 'fruit');
                return (isFruit ? $('#').is(':checked') :
                    $('#candy').is(':checked'));
            }
        );


    });


    function checkBoxChecked() {
//alert("aaaa");
        debugger;
        var checkbox1;
        var checkbox2;
        var checkbox3;
        var checkbox4;

        $('input[type=checkbox]').each(function ()
        {

            if (!this.checked) {

                debugger;
            var value = $(this).val();
            if (value == "MD_NP_PA") {
                checkbox1 = "MD_NP_PA";

            }
            else if (value == "Nurses_Med_Asst")
            {
                    checkbox2 = "Nurses_Med_Asst";

            }
            else if (value == "Techs_IT") {
                checkbox3 = "Techs_IT";

            } else {
                checkbox4 = "Admin_Staff";

            }
          }

        });
            var location = $("#location").val();
            var category = $("#category").val();

            var model = { location: location, category: category, MdNpPa: checkbox1, NursesMedAsst: checkbox2, TechsIt: checkbox3, AdminStaff:checkbox4 };
            $.ajax({
                url: '@Url.Action("SearchJob", "Home")',
                data: model,
             
                success: function (data) {
                    $("#dataResult").html("");
                    $("#dataResult").html(data);

                }

        });
        

       
    }


</script>