﻿@model HealthCareJC.ViewModels.HomeSearchViewModel
@{

    AjaxOptions SearchJob = new AjaxOptions
    {

        OnBegin = "OnBeginSearchJob",
        OnFailure = "OnFailtureSearchJob",
        OnSuccess = "OnSuccessSearchJob"

    };
}

<body>
    <div id="wrapper">
       
        <div id="banner" class="home-header-image with-transparent-header">
            <div class="container">
                <div class="row">
                    <div class="search-container">

                    
                        <div class="searchTabs">
                            <br />
                            <ul id="searchTb" class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tabs1" data-toggle="tab"><span><img src="~/Content/Images/556-tab-icon1.png" width="28" height="28"><input type="hidden" name="categoryId" id="categoryId" value="1"></span>Doctors</a></li>
                                <li><a href="#tabs2" data-toggle="tab"><span><img src="~/Content/Images/4782-tab-icon2.png" width="28" height="28"><input type="hidden" name="categoryId" id="categoryId" value="2"></span>Hospitals</a></li>
                                <li><a href="#tabs3" data-toggle="tab"><span><img src="~/Content/Images/4394-tab-icon3.png" width="28" height="28"><input type="hidden" name="categoryId" id="categoryId" value="3"></span>Doctors Office</a></li>
                                <li><a href="#tabs4" data-toggle="tab"><span><img src="~/Content/Images/9557-tab-icon4.png" width="28" height="28"><input type="hidden" name="categoryId" id="categoryId" value="4"></span>Dentist Office</a></li>
                                <li><a href="#tabs5" data-toggle="tab"><span><img src="~/Content/Images/7828-tab-icon5.png" width="28" height="28"><input type="hidden" name="categoryId" id="categoryId" value="5"></span>All Facilities</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tabs1">
                                    <input name="searchtxt" id="searchtxt" type="text" placeholder="Search your Doctors, state, city, speciality, zipcode" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                    <input name="searchHomebtn" id="searchHomebtn" type="button" onclick="searchHomepage();">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        

        <!-- Infobox -->
        <div class="infobox margin-bottom-0">
            <div class="container">
                <div class="sixteen columns">Start Building Your Own Job Board Now <a href="my-account.html">Get Started</a></div>
            </div>
        </div>



    </div>
</body>


    
   <script>

       $(document).ready(function () {

           $('.dataTables-example').DataTable({
               "searching": false,
               "ordering": false,
               "pageLength": 10,
               "bLengthChange": false,
               "info": false,
               "bPaginate": false
           });
          

       });
       function OnBeginSearchJob() {



       }

       function OnFailtureSearchJob(error) {
           alert(error);

       }

       function OnSuccessSearchJob(data) {
           
           debugger;
           $("#searchresult").html("");
           $("#searchresult").html(data);
           


       }
       
   </script>
  


  
