﻿@model HealthCareJC.ViewModels.EmployeerDashboardViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <hr />
  
        @{
            if (Model.emplist != null)
            {
                foreach (var item in Model.emplist)
                {

                

                    <div id="wrapper">

                        <div class="container">

                            <!-- Recent Jobs -->
                            <div class="row">
                                <div class="col-md-8">

                                    <!-- Company Info -->
                                    <div class="company-info">
                                        <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                                        <div class="content">
                                            <h3 style="color: green">@item.emp.CompanyName</h3>
                                            <span><i class="fa fa-building"></i>@item.emp.CompanyAddress</span>
                                            <span><i class="fa fa-arrow-right"></i>@item.emp.CompanyContactNo</span>
                                            <span><i class="fa fa-medkit"></i>@item.emp.CompanyEmail</span>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>


                                <div class="col-lg-4">

                                    <div class="margin-top-10">
                                        <div class="widget">
                                            <h4>Overview</h4>

                                            <div class="job-overview">

                                                <ul>
                                                    <li>
                                                        <i class="fa fa-list"></i>
                                                        <div>
                                                            <strong>Name:</strong>
                                                            <span>@item.user.FirstName  @item.user.LastName</span>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-map-marker"></i>
                                                        <div>
                                                            <strong>Email:</strong>
                                                            <span>@item.user.Email</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-user"></i>
                                                        <div>
                                                            <strong>PhoneNumber:</strong>
                                                            <span>@item.user.PhoneNumber</span>
                                                        </div>
                                                    </li>
                                                    


                                                </ul>

                                           






                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Widgets / End -->

                            </div>
                        </div>


                    </div>
                }

            }
        }
    </body>




