﻿@model IEnumerable<HealthCareJC.Models.Employer>
@using HealthCareJC.Models;
@using Microsoft.AspNet.Identity
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Index";
    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="wrapper">
        <div class="clearfix"></div>
       
        <hr/>

        <div class="container">
            <h3>Employers List</h3>
            <div class="row">
                @if (obj.UserType == "Administrator")
                {
                    <nav id="breadcrumbs">
                        <ul>


                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageJobs", "Jobs")" class="btn btn-success" style="color: white">Manage Jobs</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ManageEvents", "Eventads")" class="btn btn-success" style="color: white">Manage Event Ads</a>
                            </li>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info" style="color: white"> Manage Employers </a></li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageJobseeker","Users")" class="btn btn-info" style="color: white">Manage Job Seekers</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary" style="color: white">Manage Job Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "Specialities")" class="btn btn-success" style="color: white"> Manage Job Specialities</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning" style="color: white"> Manage Event Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }


            </div>

            <!-- Table -->
            <div class="row">

                <p class="margin-bottom-25">Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.</p>

                <table class="manage-table responsive-table">
                    <thead>
                        <tr>
                            <th><i class="fa fa-file-text"></i>Company Logo</th>
                            <th><i class="fa fa-check-square-o"></i>Compnay Name</th>
                            <th><i class="fa fa-calendar"></i>Company Address</th>
                            <th><i class="fa fa-calendar"></i> Company Contact Number</th>
                            <th><i class="fa fa-user"></i>Company Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    @if (Model.Any())
                    {
                        <tbody>
                            @foreach (var item in Model)
                            {





                            <tr>
                                <td class="title"><img src="~/Content/Images/Logo/@item.Logo" alt=""></td>
                                <td class="centered">@item.CompanyName</td>
                                <td>@item.CompanyAddress</td>
                                <td>@item.CompanyContactNo</td>
                                <td>@item.CompanyEmail</td>

                                <td class="action">


                                    @if (obj.UserType == "Administrator")
                                   {
                                    <a href="#"><i class="fa fa-pencil"></i>Allow</a>
                                   }
                                   else
                                   {
                                    <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                   }
                                    <a href="@Url.Action("Details","Employers")?userid=@item.UserId" class="delete"><i class="fa fa-remove"></i> Detail</a>

                                    <a href="#" class="delete"><i class="fa fa-remove"></i> Delete</a>

                                </td>
                            </tr>
                            }
                        </tbody>
                    }

                </table>

             

            </div>

        </div>



        <div class="margin-top-60"></div>



    </div>

    <script>
        $(document).ready(function () {

            $('.manage-table').DataTable({
                "searching": false,
                "ordering": false,
                "pageLength": 10,
                "bLengthChange": false,
                "stateSave": true,
                "info": false,

            });


        });
    </script>
</body>

