﻿@model IEnumerable<HealthCareJC.Models.Job>


<body>
<hr/>
<div id="wrapper">


    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">

            <!-- Recent Jobs -->
            <div class="col-md-12">
                <div class="col-md-8" id="searchresult">


                    <table id="showdata" class="table dataTables-example">
                        <thead style="display: none">
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="job-list">


                            @{
                            if (Model.Any())
                            {
                                foreach (var item in Model)
                                {


                                        <tr>
                                            <td style="border-top: 0px">
                                                <ul class="job-list">
                                                    <li class="highlight">
                                                        <a href="@Url.Action("JobDetail","Jobs")?id=@item.Id">
                                                            @* <img src="~/Content/Images/Logo/@item.Logo" alt="">*@
                                                            <div class="job-list-content">
                                                                <h4>
                                                                    @item.JobTitle

                                                                    @if (@item.JobType == "Part-Time")
                                                                {
                                                                        <span class="part-time">Part-Time</span>
                                                                }
                                                                    @if (@item.JobType == "Full-Time")
                                                                {
                                                                        <span class="full-time">Full-Time</span>
                                                                }
                                                                    @if (@item.JobType == "Internship")
                                                                {
                                                                        <span class="internship">Internship</span>
                                                                }
                                                                    @if (item.JobType == "Freelance")
                                                                {
                                                                        <span class="freelance">Freelance</span>
                                                                }
                                                                    @if (item.JobType == "Temporary")
                                                                {
                                                                        <span class="temporary">Temporary</span>
                                                                }

                                                                </h4>

                                                                <h4> @*@item.CompanyName*@</h4>
                                                                <div class="job-icons">

                                                                    <span><i class="fa fa-briefcase"></i>@item.jobCatrgory.CategoryName</span>


                                                                    <span><i class="fa fa-map-marker"></i> @item.JobLocation</span>
                                                                    <span><i class="fa fa-money"></i> @item.Compensation - @item.CompensationType</span>
                                                                </div>
                                                            </div>
                                                        </a>

                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                            </td>
                                        </tr>


                                }
                            }
                            }
                        </tbody>
                    </table>


                    <div class="margin-bottom-55"></div>
                </div>


                <!-- Job Spotlight -->
                <div class="col-md-4">
                    <h3 class="margin-bottom-5">Job Spotlight</h3>

                    <!-- Navigation -->
                    <div class="showbiz-navigation">
                        <div id="showbiz_left_1" class="sb-navigation-left">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div id="showbiz_right_1" class="sb-navigation-right">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- Showbiz Container -->
                    <div id="job-spotlight" class="showbiz-container">
                        <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1">
                            <div class="overflowholder">

                                <ul>

                                    <li>
                                        <div class="job-spotlight">
                                            <a href="#"><h4>Social Media: Advertising Coordinator <span class="part-time">Part-Time</span></h4></a>
                                            <span><i class="fa fa-briefcase"></i> Mates</span>
                                            <span><i class="fa fa-map-marker"></i> New York</span>
                                            <span><i class="fa fa-money"></i> $20 / hour</span>
                                            <p>As advertising & content coordinator, you will support our social media team in producing high quality social content for a range of media channels.</p>
                                            <a href="job-page.html" class="button">Apply For This Job</a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="job-spotlight">
                                            <a href="#"><h4>Prestashop / WooCommerce Product Listing <span class="freelance">Freelance</span></h4></a>
                                            <span><i class="fa fa-briefcase"></i> King</span>
                                            <span><i class="fa fa-map-marker"></i> London</span>
                                            <span><i class="fa fa-money"></i> $25 / hour</span>
                                            <p>Etiam suscipit tellus ante, sit amet hendrerit magna varius in. Pellentesque lorem quis enim venenatis pellentesque.</p>
                                            <a href="job-page.html" class="button">Apply For This Job</a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="job-spotlight">
                                            <a href="#"><h4>Logo Design <span class="freelance">Freelance</span></h4></a>
                                            <span><i class="fa fa-briefcase"></i> Hexagon</span>
                                            <span><i class="fa fa-map-marker"></i> Sydney</span>
                                            <span><i class="fa fa-money"></i> $10 / hour</span>
                                            <p>Proin ligula neque, pretium et ipsum eget, mattis commodo dolor. Etiam tincidunt libero quis commodo.</p>
                                            <a href="job-page.html" class="button">Apply For This Job</a>
                                        </div>
                                    </li>


                                </ul>
                                <div class="clearfix"></div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Infobox -->
    <div class="infobox margin-bottom-0">
        <div class="container">
            <div class="sixteen columns">Start Building Your Own Job Board Now <a href="my-account.html">Get Started</a>
            </div>
        </div>
    </div>



</div>
</body>



<script>

       $(document).ready(function () {

           $('.dataTables-example').DataTable({
          
               "searching": false,
               "ordering": false,
               "stateSave": true,
               "pageLength": 10,
               "bLengthChange": false,
               "info": false
               //  "bPaginate": false
               
           });
           
       });
      

      

      

</script>

