﻿@model List<HealthCareJC.Models.Employer>

@{
    ViewBag.Title = "Index";
}

<hr/>

<div class="container">
    <div class="row">

        <div class="sixteen columns">
            <h3 class="margin-bottom-25">Popular Companies</h3>
            <ul id="popular-categories">


                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("JobsByCompany", "Jobs", new { Userid = item.UserId})"><i class="ln  ln-icon-Globe"></i> @Html.DisplayFor(modelItem => item.CompanyName)</a></li>

                }


            </ul>

            <div class="clearfix"></div>
            <div class="margin-top-30"></div>

            <a href="browse-categories.html" class="button centered">Browse All Categories</a>
            <div class="margin-bottom-50"></div>
        </div>
    </div>

</div>

