﻿@model HealthCareJC.ViewModels.JobViewModel
<link href="~/Content/summernote/summernote.css" rel="stylesheet" />
<link href="~/Content/summernote/summernote-bs3.css" rel="stylesheet" />
<div id="wrapper">
    <div class="clearfix"></div>
    <div id="titlebar" class="single submit-page">
        <div class="container">

            <div class="sixteen columns">
                <h2><i class="fa fa-plus-circle"></i> Edit Job</h2>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            @using (Html.BeginForm("SaveEditJobPost", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-lg-12">
                    <div class="notification notice closeable margin-bottom-40">
                        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
                        @Html.EditorFor(model => model.jobs.Id, "", new { htmlattributes = new { @class = "search-field", @style = "display:none;" } })
                        @Html.EditorFor(model => model.jobs.UserId, "", new { htmlattributes = new { @class = "search-field", @style = "display:none;" } })
                    </div>
                    
                    
                    <div class="row">
                        <div class="form-group">
                            <h5>Job Number</h5>
                            @Html.LabelFor(model => model.jobs.JobNumber, "", new { htmlattributes = new { @class = "search-field", } })
                            @Html.ValidationMessageFor(model => model.jobs.JobNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <h5>Job Title</h5>
                            @Html.EditorFor(model => model.jobs.JobTitle, "", new { htmlattributes = new { @class = "search-field" } })
                            @Html.ValidationMessageFor(model => model.jobs.JobTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group">
                            <h5>Job Location</h5>
                            @Html.EditorFor(model => model.jobs.JobLocation, "", new { htmlattributes = new { @class = "search-field", @id = "location", @required = "true" } })
                            @Html.ValidationMessageFor(model => model.jobs.JobLocation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <h5>Job Category</h5>
                            @Html.DropDownListFor(model => model.jobs.CategoryId, Model.JobCatagory, new { @class = "chosen-select-no-single" })
                            @Html.ValidationMessageFor(model => model.jobs.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <h5>Job Speciality</h5>
                            @Html.DropDownListFor(model => model.jobs.SpcialityId, Model.Specility, new { @class = "chosen-select-no-single" })
                            @Html.ValidationMessageFor(model => model.jobs.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Location -->

                    <div class="row">
                        <h5>Job Type</h5>
                        @Html.DropDownListFor(model => model.jobs.JobType, Model.JobType, new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.jobs.JobType, "", new { @class = "text-danger" })
                    </div>
                    @*<div class="row">
                        <h5>Logo <span>(optional)</span></h5>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                              
                                <input type="file" name="..." />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                        </div>
                        @Html.EditorFor(model=>model.jobs.Logo,"", new { htmlattributes = new { @class = "search-field", @id = "filename" } })
                        
                         
                        
                    </div>*@


                    <!-- Choose Category -->
                    <div class="row">
                        <div class="form-group">
                            <h5>Compensation</h5>
                            @Html.EditorFor(model => model.jobs.Compensation, "", new { htmlattributes = new { @class = "search-field" } })
                            @Html.ValidationMessageFor(model => model.jobs.Compensation, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <h5>Compensation Types <span>(optional)</span></h5>
                        @Html.DropDownListFor(model => model.jobs.CompensationType, Model.CompensationType, new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.jobs.CompensationType, "", new { @class = "text-danger" })
                    </div>



                    <div class="row">
                        <h5>Description</h5>
                        @Html.TextAreaFor(model => model.jobs.JobDescription, new { @cols = "40", @rows = "3", @spellcheck = "true" })
                        @Html.ValidationMessageFor(model => model.jobs.JobDescription, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <h5>Education Level</h5>
                        @Html.DropDownListFor(model => model.jobs.EducationLevel, Model.EducationLevel, new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.jobs.EducationLevel, "", new { @class = "text-danger" })

                    </div>
                    <div class="row">
                        <h5>Experience Level <span>(optional)</span></h5>
                        @Html.DropDownListFor(model => model.jobs.ExperienceLevel, Model.ExperienceLevel, new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.jobs.ExperienceLevel, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <h5>Job Status <span>(optional)</span></h5>
                        @Html.DropDownListFor(model => model.jobs.JobStatus, Model.JobStatus, new { @class = "chosen-select-no-single" })
                        @Html.ValidationMessageFor(model => model.jobs.JobStatus, "", new { @class = "text-danger" })

                    </div>

                    @*<div class="row">
                        <div class="divider"><h3>Company Details</h3></div>
                        <hr />
                    </div>
                    <div class="row">
                        <h5>Company Name</h5>
                        @Html.EditorFor(model => model.jobs.CompanyName, "", new { htmlattributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.jobs.CompanyName, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <h5>Company Email</h5>
                        @Html.EditorFor(model => model.jobs.CompanyEmail, "", new { htmlattributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.jobs.CompanyEmail, "", new { @class = "text-danger" })
                    </div>


                    <div class="row">
                        <h5>Website <span>(optional)</span></h5>
                        @Html.EditorFor(model => model.jobs.WebSite, "", new { htmlattributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.jobs.WebSite, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <h5>Comapny Address <span>(optional)</span></h5>
                        @Html.EditorFor(model => model.jobs.CompanyAddress, "", new { htmlattributes = new { @class = "search-field", @id = "location" } })
                        @Html.ValidationMessageFor(model => model.jobs.CompanyAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <h5>Contact Number<span>(optional)</span></h5>
                        @Html.EditorFor(model => model.jobs.CompanyContactNo, "", new { htmlattributes = new { @class = "search-field" } })
                        @Html.ValidationMessageFor(model => model.jobs.CompanyContactNo, "", new { @class = "text-danger" })
                    </div>*@

                    <div class="divider margin-top-0"></div>
                    <button name="button" class="button big margin-top-5">Update<i class="fa fa-arrow-circle-right"></i></button>

                </div>
            }
        </div>

    </div>
</div>

<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/summernote/summernote.min.js"></script>
<!-- WYSIWYG Editor -->
<script type="text/javascript" src="~/Scripts/jquery.sceditor.bbcode.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.sceditor.js"></script>

@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>*@


<script>

    $("input[type=file]").change(function () {
        $("#filename").val("");
        $("#filename").hide();

    });
</script>
