﻿@model HealthCareJC.ViewModels.EditCompanyProfileViewModel
@{
    ViewBag.Title = "EditCompanyProfile";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm("SaveCompanyProfile", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="col-lg-12">
                
                <div class="row">
                    <h5>First Name</h5>
                    @Html.EditorFor(model => model.user.FirstName, "", new { htmlattributes = new { @class = "search-field" } })
                    @Html.ValidationMessageFor(model => model.user.FirstName, "", new { @class = "text-danger" })
                </div>
               
                <div class="row">
                    <h5>Last Name</h5>
                    @Html.EditorFor(model => model.user.LastName, "", new { htmlattributes = new { @class = "search-field" } })
                    @Html.ValidationMessageFor(model => model.user.LastName, "", new { @class = "text-danger" })
                </div>


                <div class="row">
                    <h5>Email <span>(optional)</span></h5>
                    @Html.EditorFor(model => model.user.Email, "", new { htmlattributes = new { @class = "search-field" } })
                    @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <h5>PhoneNumber <span>(optional)</span></h5>
                    @Html.EditorFor(model => model.user.PhoneNumber, "", new { htmlattributes = new { @class = "search-field"} })
                    @Html.ValidationMessageFor(model => model.user.PhoneNumber, "", new { @class = "text-danger" })
                </div>
             

                <div class="divider margin-top-0"></div>
                <button name="button" class="button big margin-top-5">Update<i class="fa fa-arrow-circle-right"></i></button>
                <div class="row">
                    <div class="divider"><h3>User Details</h3></div>
                    <hr />

                </div>
                </div>
        }
                </div>
                </div>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>
    $("input[type=file]").change(function () {
        $("#filename").val("");
        $("#filename").hide();

    });

</script>