﻿@model HealthCareJC.ViewModels.JobDetailViewModel
@using HealthCareJC.Models;
@using Microsoft.AspNet.Identity;
@{
    ApplicationDbContext db = new ApplicationDbContext();

    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
}


        <div class="container">
       
            <div class="row">
                <h2>Job Details</h2>
                @if (obj.UserType == "Employer")
                {
                    <nav id="breadcrumbs">
                        <ul>

                            <li>

                                <a href="@Url.Action("ManageEvents", "EventAds")" class="btn btn-success" style="color: white">Manage Events</a>
                            </li>
                            <li>

                                <a href="@Url.Action("EditEmployeerProfile", "Jobs")?userid=@obj.Id" class="btn btn-warning" style="color: white">My Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-info" style="color: white">Change Password</a>
                            </li>

                            <li><a href="@Url.Action("PostJob", "Jobs")" class="btn btn-primary" style="color: white"> Post New Job </a></li>

                            <li><a href="@Url.Action("Create", "EventAds")" class="btn btn-success" style="color: white"> Post New Event </a></li>
                            <li>
                                <a href="@Url.Action("ClearLogin", "Account")" class="btn btn-link">Log Out</a>
                            </li>
                        </ul>
                    </nav>
                }
                else if (obj.UserType == "Administrator")
                {
                    <nav id="breadcrumbs">
                        <ul>



                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageEvents", "Eventads")" class="btn btn-success" style="color: white">Manage Event Ads</a>
                            </li>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info" style="color: white"> Manage Employers </a></li>
                            <li style="margin-bottom: 10px">

                                <a href="#" class="btn btn-info" style="color: white">Manage Job Seekers</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary" style="color: white">Manage Job Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "Specialities")" class="btn btn-success" style="color: white"> Manage Job Specialities</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning" style="color: white"> Manage Event Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }
                else
                {
                    <nav id="breadcrumbs">

                        <ul>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("AppliedJobs","Resumes")?id=@obj.Id" class="btn btn-primary" style="color: white"> Applied Jobs </a></li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("EditResume","Resumes")?UserID=@obj.Id" class="btn btn-info" style="color: white">My Profile</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ResumeDetail","Resumes")?id=@obj.Id" class="btn btn-warning" style="color: white">My Resume</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-danger" style="color: white">Change Password</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin", "Account")">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }

            </div>

</div>
    @{ 
        if(Model.joblist != null)
        { var i=0;
            foreach (var item in Model.joblist)
//var item=Model.joblist;
            {
if(i==0){

<hr/>

    <div id="wrapper">
       
        <div class="container">
            <input type="text" value="@item.job.Id" style="display:none" id="userid"/>
            <!-- Recent Jobs -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Company Info -->
                    <div class="company-info">
                        <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                        <div class="content">
                            <h3 style="color: green"> @item.job.JobTitle</h3>
<div class="row">

<div class="col-md-6">
<ul>
<li> <div>
                                             <i class="fa fa-map-marker"></i>&nbsp;&nbsp;<strong>Location:</strong>
                                            <span> @item.job.JobLocation</span>
                                        </div><br />
                                    </li>
<li>  <div>
       <i class="fa fa-list"></i>&nbsp;&nbsp;<strong>Job Number:</strong>
                                            <span> @item.job.JobNumber</span>
                                        </div><br />
                                    </li>

<li>  <div>
       <i class="fa fa-h-square"></i>&nbsp;&nbsp;<strong>Health Professional Type:</strong>
                                            <span> @item.job.HealthProfessionalType</span>
                                        </div><br />
                                    </li>
</ul>
</div>
<div class="col-md-6"><ul> 
  <li>
                                       
                                        <div>
 <i class="fa fa-money"></i>&nbsp;&nbsp;
                                            <strong>Compensation</strong>
                                            <span>$ @item.job.Compensation / @item.job.CompensationType</span>
                                        </div><br />
                                    </li>
 <li>
                                     
                                        <div>
                                              <i class="fa fa-calendar"></i>&nbsp;&nbsp;
 <strong>Job Category</strong>
                                            <span>@item.caname</span>
                                        </div><br />
                                    </li>
                                    <li>
                                       
                                        <div>
 <i class="fa fa-hospital-o"></i>&nbsp;&nbsp;
                                            <strong>Job Speciality</strong>
                                            <span>@item.specilty</span>
                                        </div>
                                    </li>

 <li>
                                       
                                        <div>
<br />
 <i class="fa fa-hospital-o"></i>&nbsp;&nbsp;
                                            <strong>Status</strong>
                                            <span> 
@if (item.job.status)
                                            {
                                 <b style="color:dodgerblue">Approved</b>               <a href="@Url.Action("disApprove", "Jobs")?id=@item.job.Id"><i class="fa fa-pencil"></i> DisApprove</a>
}
else
{

    <b style="color:dodgerblue">Not Approved</b>                 <a href="@Url.Action("PublishJob", "Jobs")?id=@item.job.Id"><i class="fa fa-pencil"></i> Approve</a>
                                            }


                                            </span>
                                        </div>
                                    </li>



</ul></div>
</div>
                           
                                   </div>
                        <div class="clearfix"></div>
                    </div>
<p class="margin-reset">
                       @item.job.JobDescription
                    </p>
<div class="content">
<h3>Employer Details</h3>
<ul>
<li>
                                      <div>
 <i class="fa fa-user"></i>&nbsp;&nbsp;
                                            <strong>Employer Company Name</strong>
<span>@item.emp.CompanyName</span>
                                          
                                        </div><br />
                                        <div>
 <i class="fa fa-globe"></i>&nbsp;&nbsp;
                                            <strong>Employer Website</strong>
<span>@item.emp.WebSite</span>
                                          
                                        </div><br />
                                    </li>

  <li>
                                        
                                        <div>
<i class="fa fa-envelope"></i>&nbsp;&nbsp;
                                            <strong>Employer Email</strong>
<span>@item.emp.CompanyEmail</span>
                                          
                                        </div><br />
                                    </li>
  <li>
                                        
                                        <div>
<i class="fa fa-phone"></i>&nbsp;&nbsp;
                                            <strong>Employer Company Contact No</strong>
<span>@item.emp.CompanyContactNo</span>
                                          
                                        </div><br />
                                    </li>
  <li>
                                        
                                        <div>
<i class="fa fa-map-marker"></i>&nbsp;&nbsp;
                                            <strong>Company Address</strong>
<span>@item.emp.CompanyAddress</span>
                                          
                                        </div><br />
                                    </li>
</ul>
<hr />
 <div class="clearfix"></div>


</div>

                    
<div class="content">
<h3>User Details</h3>
<ul>
<li>
                                      <div>
 <i class="fa fa-user"></i>&nbsp;&nbsp;
                                            <strong>Name</strong>
<span>@item.user.FirstName @item.user.LastName</span>
                                          
                                        </div><br />
</li>
<li>
                                        <div>
 <i class="fa fa-envelope"></i>&nbsp;&nbsp;
                                            <strong>Email Address</strong>
<span>@item.user.Email</span>
                                          
                                        </div><br />
                                    </li>

  <li>
                                        
                                        <div>
<i class="fa fa-phone"></i>&nbsp;&nbsp;
                                            <strong>Contact Number</strong>
<span>@item.user.PhoneNumber</span>
                                          
                                        </div><br />
                                    </li>
 
</ul>
<hr />
 <div class="clearfix"></div>


</div>
                   

                </div>

               
               
                <!-- Widgets / End -->

            </div>
        </div>
        

    </div>
               i=1; }
}
            }
        }

    