﻿@model HealthCareJC.ViewModels.JobDetailViewModel
<body>


    
    @{ 
        if (Model.joblist != null)
        {
var i=0;
            foreach (var item in Model.joblist)
            {
if(i==0){

<hr/>

    <div id="wrapper">
       
        <div class="container">
            <input type="text" value="@item.job.Id" style="display:none" id="userid"/>
            <!-- Recent Jobs -->
            <div class="row">
                <div class="col-md-8">

                    <!-- Company Info -->
                    <div class="company-info">
                        <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                        <div class="content">
                            <h3 style="color: green">@item.job.JobTitle</h3>
                            <span><i class="fa fa-building"></i>@item.emp.CompanyName</span>
                            <span><i class="fa fa-arrow-right"></i>@item.job.JobNumber</span>
                            <span><i class="fa fa-medkit"></i>@item.job.HealthProfessionalType</span>
                           
                                   </div>
                        <div class="clearfix"></div>
                    </div>

                    <p class="margin-reset">
                       @item.job.JobDescription
                    </p>

                   

                </div>

               
                <div class="col-lg-4">

                    <div class="margin-top-10">
                        <div class="widget">
                            <h4>Overview</h4>

                            <div class="job-overview">

                                <ul>
                                    <li>
                                        <i class="fa fa-list"></i>
                                        <div>
                                            <strong>Job Number:</strong>
                                            <span>@item.job.JobNumber</span>
                                        </div>
                                    </li>

                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <div>
                                            <strong>Location:</strong>
                                            <span>@item.job.JobLocation</span>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-user"></i>
                                        <div>
                                            <strong>Job Title:</strong>
                                            <span>@item.job.JobTitle</span>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-money"></i>
                                        <div>
                                            <strong>Compensation</strong>
                                            <span>$ @item.job.Compensation / @item.job.CompensationType</span>
                                        </div>
                                    </li>
                                   
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <div>
                                            <strong>Job Category</strong>
                                            <span>@item.caname</span>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-send"></i>
                                        <div>
                                            <strong>Job Speciality</strong>
                                            <span>@item.specilty</span>
                                        </div>
                                    </li>

                                </ul>

                                @if (ViewBag.job == null)
                                {
                                <a class="button" id="applyJobCheck">Apply For This Job</a>
                                }
                                else
                                {
                                    <a class="button">You Already Applied For This Job</a>
                                }






                            </div>

                        </div>
                    </div>
                </div>
                <!-- Widgets / End -->

            </div>
        </div>
        

    </div>
                i=1;}
}

            }
        }

    <div id="Jobapplication" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin-top: 50px">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Apply For This Job</h4>
                </div>
                <div class="modal-body">
                  

                        <textarea placeholder="Your message / cover letter sent to the employer" id="coverletter"></textarea>

                                                    <!-- Upload CV -->
                                                    <div class="upload-info"><strong>Upload your CV (optional)</strong> <span>Max. file size: 5MB</span></div>
                                                    <div class="clearfix"></div>

                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileinput-new">Select file</span>
                                                            <span class="fileinput-exists">Change</span><input type="file" name="..." id="fileinput" />
                                                        </span>
                                                        <span class="fileinput-filename"></span>
                                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                                                    </div>

                                                    <div class="divider"></div>

                                                    <button class="send" onclick="sendapplication()">Send Application</button>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>
<script>

    $("#applyJobCheck").click(function () {
        debugger;
        var id = $("#userid").val();
        jQuery.ajax({
            url: '@Url.Action("LoginCheck", "Jobs")',
            data:{id:id},
            success: function (data) {
                if (data == "true") {
                    $("#Jobapplication").modal('show');
                }
                else {
                  
                   window.location.href = '@Url.Action("Login","Account")';
                }
            }
        });
       
    });
   function sendapplication()

        {
           
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            fd.append("files", document.getElementById('fileinput').files[0]);
            fd.append("Text", document.getElementById('coverletter').value)
            xhr.open("POST", "/Jobs/SaveResume/", true);
            xhr.send(fd);
            xhr.addEventListener("load", function (event) {
                window.location.href = '@Url.Action("Selectdashboard","Dashboards")';
            }, false);

        }

    

</script>