﻿@model HealthCareJC.ViewModels.ManageJobViewModel
@using HealthCareJC.Models;
@using Microsoft.AspNet.Identity;
@{
    ApplicationDbContext db = new ApplicationDbContext();

    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
}

<body>
    <div id="wrapper">
        <div class="clearfix"></div>
      
        <hr/>

        <div class="container">
            <div class="row">
                <h2>Manage Jobs</h2>
                @if (obj.UserType == "Employer")
                {
                    <nav id="breadcrumbs">
                        <ul>

                            <li>

                                <a href="@Url.Action("ManageEvents", "EventAds")" class="btn btn-success" style="color: white">Manage Events</a>
                            </li>
                            <li>

                                <a href="@Url.Action("EditEmployeerProfile", "Jobs")?userid=@obj.Id" class="btn btn-warning" style="color: white">My Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-info" style="color: white">Change Password</a>
                            </li>

                            <li><a href="@Url.Action("PostJob", "Jobs")" class="btn btn-primary" style="color: white"> Post New Job </a></li>

                            <li><a href="@Url.Action("Create", "EventAds")" class="btn btn-success" style="color: white"> Post New Event </a></li>
                            <li>
                                <a href="@Url.Action("ClearLogin", "Account")" class="btn btn-link">Log Out</a>
                            </li>
                        </ul>
                    </nav>
                }
                else if (obj.UserType == "Administrator")
                {
                    <nav id="breadcrumbs">
                        <ul>



                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageEvents", "Eventads")" class="btn btn-success" style="color: white">Manage Event Ads</a>
                            </li>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info" style="color: white"> Manage Employers </a></li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageJobseeker","Users")" class="btn btn-info" style="color: white">Manage Job Seekers</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary" style="color: white">Manage Job Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "Specialities")" class="btn btn-success" style="color: white"> Manage Job Specialities</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning" style="color: white"> Manage Event Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }
                else
                {
                    <nav id="breadcrumbs">

                        <ul>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("AppliedJobs","Resumes")?id=@obj.Id" class="btn btn-primary" style="color: white"> Applied Jobs </a></li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("EditResume","Resumes")?UserID=@obj.Id" class="btn btn-info" style="color: white">My Profile</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ResumeDetail","Resumes")?id=@obj.Id" class="btn btn-warning" style="color: white">My Resume</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-danger" style="color: white">Change Password</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin", "Account")">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }

            </div>

            <!-- Table -->
            <div class="row">

                <p class="margin-bottom-25">Your listings are shown in the table below. Expired listings will be automatically removed after 30 days.</p>

                <table class="manage-table responsive-table">
                    <thead>

                    <tr>
                        <th><i class="fa fa-file-text"></i> Title</th>
                        <th><i class="fa fa-check-square-o"></i> Status</th>
                        <th><i class="fa fa-calendar"></i> Date Posted</th>

                        <th><i class="fa fa-user"></i> Applications</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>

                        @if (Model.jobList.Any())
                        {


                            foreach (var item in Model.jobList)
                            {




                                <tr>
                                    <td class="title"><a href="#">@item.JobTitle</a></td>
                                    @if (item.status)
                                    {
                                        <td>Approved</td>
                                    }
                                    else
                                    {
                                        <td>Not Approved</td>
                                    }
                                    <td>@item.CreatedDate.ToShortDateString()</td>

                                    @if (obj.UserType == "Employer")
                                    {
                                        var lst = Model.count.Where(u => u.Key == item.Id).ToList();
                                        <td class="centered">
                                            <a href="@Url.Action("ManageApplications", "Jobs")?id=@item.Id" class="button">Show (@lst.SingleOrDefault().Value)</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>check</td>
                                    }
                                    <td class="action">
                                        @if (obj.UserType == "Administrator")
                                        {
                                            if (item.status)
                                            {
                                                <a href="@Url.Action("disApprove", "Jobs")?id=@item.Id"><i class="fa fa-pencil"></i> Dis Approve</a>
                                            }
                                            else
                                            {

                                                <a href="@Url.Action("PublishJob", "Jobs")?id=@item.Id"><i class="fa fa-pencil"></i> Approve</a>
                                            }
                                        }
                                        else

                                        {
                                            <a href="@Url.Action("EditPostJob", "Jobs")?id=@item.Id"><i class="fa fa-pencil"></i> Edit</a>

                                        }

@if (obj.UserType == "Administrator"){
                                        <a href="@Url.Action("JobDetailsAdmin", "jobs")?id=@item.Id" class="delete"><i class="fa fa-dashboard"></i> Details</a>
}else
{
     <a href="@Url.Action("JobDetail", "jobs")?id=@item.Id" class="delete"><i class="fa fa-dashboard"></i> Details</a>
}
                                        <a href="@Url.Action("DeleteJob", "jobs")?id=@item.Id" class="delete"><i class="fa fa-remove"></i> Delete</a>

                                    </td>
                                </tr>
                              
                            }

                        }
                    </tbody>

                </table>

                <br>

                @*<a href="@Url.Action("PostJob", "Jobs")" class="button">Add Job</a>*@


            </div>

        </div>
            </div>
        
            


   
</body>
<script>

       $(document).ready(function () {

           $('.manage-table').DataTable({
               "searching": false,
               "ordering": false,
               "pageLength": 10,
               "stateSave": true,
               "bLengthChange": false,
               "info": false
             
           });


       });


</script>
