﻿@model HealthCareJC.ViewModels.ManageApplicationViewModel
@using HealthCareJC.Models;
@using Microsoft.AspNet.Identity;
@{
    ApplicationDbContext db = new ApplicationDbContext();

    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
}
<body>
    <div id="wrapper">

        <!-- Titlebar
        ================================================== -->
        <div id="titlebar" class="single">
            <div class="container">

                <div class="sixteen columns">
                    <h2>Manage Applications</h2>
                   @if (obj.UserType == "Employer")
                   {
                    <nav id="breadcrumbs">
                        <ul>
                            <li>
                                <a href="@Url.Action("ManageJobs", "jobs")" class="btn btn-danger">Manage Jobs</a>
                            </li>
                            <li>

                                <a href="@Url.Action("ManageEvents", "EventAds")" class="btn btn-success">Manage Events</a>
                            </li>
                            <li>

                                <a href="@Url.Action("EditEmployeerProfile", "Jobs")?userid=@obj.Id" class="btn btn-warning">My Profile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-info">Change Password</a>
                            </li>

                            <li><a href="@Url.Action("PostJob", "Jobs")" class="btn btn-primary"> Post New Job </a></li>

                            <li><a href="@Url.Action("Create", "EventAds")" class="btn btn-default"> Post New Event </a></li>
                            <li>
                                <a href="@Url.Action("ClearLogin", "Account")" class="btn btn-link">Log Out</a>
                            </li>
                        </ul>
                    </nav>
                   }
                   else if (obj.UserType == "Administrator")
                   {
                    <nav id="breadcrumbs">
                        <ul>


                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ManageJobs","jobs")" class="btn btn-danger">Manage Jobs</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageEvents", "Eventads")" class="btn btn-success">Manage Event Ads</a>
                            </li>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info"> Manage Employers </a></li>
                            <li style="margin-bottom: 10px">

                                <a href="#" class="btn btn-info">Manage Job Seekers</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary">Manage Job Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "Specialities")" class="btn btn-success"> Manage Job Specialities</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning"> Manage Event Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                   }
                   else
                   {
                    <nav id="breadcrumbs">

                        <ul>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("AppliedJobs","Resumes")?id=@obj.Id" class="btn btn-primary"> Applied Jobs </a></li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("EditResume","Resumes")?UserID=@obj.Id" class="btn btn-info">My Profile</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ResumeDetail","Resumes")?id=@obj.Id" class="btn btn-warning">My Resume</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-danger">Change Password</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin", "Account")">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                   }
                </div>

            </div>
        </div>


        <!-- Content
        ================================================== -->
        <div class="container">

            <!-- Table -->
            <div class="row">

                <p class="margin-bottom-25" style="float: left;">The job applications for <strong><a href="#">Power Systems User Experience Designer</a></strong> are listed below.</p>
               

            </div>


            @*<div class="eight columns">
                <!-- Select -->
                <select data-placeholder="Filter by status" class="chosen-select-no-single">
                    <option value="">Filter by status</option>
                    <option value="new">New</option>
                    <option value="interviewed">Interviewed</option>
                    <option value="offer">Offer extended</option>
                    <option value="hired">Hired</option>
                    <option value="archived">Archived</option>
                </select>
                <div class="margin-bottom-15"></div>
            </div>

            <div class="eight columns">
                <!-- Select -->
                <select data-placeholder="Newest first" class="chosen-select-no-single">
                    <option value="">Newest first</option>
                    <option value="name">Sort by name</option>
                    <option value="rating">Sort by rating</option>
                </select>
                <div class="margin-bottom-35"></div>
            </div>*@


            <!-- Applications -->
            <div class="row">

                <!-- Application #1 -->

                @if (Model.jobseekerList.Any())
                {
                    foreach (var item in Model.jobseekerList)
                    {


                        <div class="application">
                    <div class="app-content">

                        <!-- Name / Avatar -->
                        <div class="info">
                          
                            <img src="~/JobseekerPhotos/@item.PicturePath" alt="">
                            <span>@item.user.FirstName @item.user.LastName</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-file-text"></i> Download CV</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> Contact</a></li>
                            </ul>
                        </div>

                        <!-- Buttons -->
                        <div class="buttons">
                            <a href="@Url.Action("EditResume","Resumes")?UserID=@item.UserId" class="button gray"><i class="fa fa-pencil"></i> Edit</a>
                            <a href="#two-1" class="button gray app-link"><i class="fa fa-sticky-note"></i> Add Note</a>
                            <a href="@Url.Action("ResumeDetail", "Resumes")?id=@item.UserId" class="button gray"><i class="fa fa-plus-circle"></i> Show Details</a>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                    <div class="app-footer">

                        <div class="rating no-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>

                        <ul>
                            <li><i class="fa fa-file-text-o"></i> New</li>
                            <li><i class="fa fa-calendar"></i></li>
                        </ul>
                        <div class="clearfix"></div>

                    </div>
                </div>

                    }
                }
            </div>
        </div>


    </div>


</body>
