﻿@model HealthCareJC.ViewModels.JobViewModel
<link href="~/Content/summernote/summernote.css" rel="stylesheet" />
<link href="~/Content/summernote/summernote-bs3.css" rel="stylesheet" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Oswald" rel="stylesheet" />

<div id="wrapper">
    <div class="clearfix"></div>
    <hr />
    <div class="row">

        <div class="col-md-12">
            <div class="container">
                <div class="row">


                    <div class="notification notice closeable margin-bottom-40">
                        <p>
                            <span>Have an account?</span> If you already have an account with HealthCare Job Center please Sign in to avoid filling this lengthy form. <a href="@Url.Action("Login", "Account")"><span><i class="fa fa-arrow-right"></i> Sign In</span></a>
                        </p>
                    </div>
<input type="hidden" id="jobrate" value="@Model.JobRate" />

                    @using (Html.BeginForm("AddJobPost", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

               
                        <div class="col-md-8">

                            <div class="row">
                                <div class="divider">
                                    <h3>Job Details</h3>
                                </div>
                                <hr />
                            </div>

                            <div class="row">
                                <h5>Health Professional Type</h5>
                                @Html.DropDownListFor(model => model.jobs.HealthProfessionalType, Model.HealthProfessionalType, new { @class = "chosen-select-no-single" })
                                @Html.ValidationMessageFor(model => model.jobs.JobType, "", new { @class = "text-danger" })
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <h5>Job Title</h5>
                                    @Html.EditorFor(model => model.jobs.JobTitle, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.jobs.JobTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group">
                                    <h5>Job Location</h5>
                                    @Html.EditorFor(model => model.jobs.JobLocation, "", new { htmlattributes = new { @class = "search-field", @id = "location", @required = "true" } })
                                    @Html.ValidationMessageFor(model => model.jobs.JobLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <h5>Job Category</h5>
                                    @Html.DropDownListFor(model => model.jobs.CategoryId, Model.JobCatagory, new { @class = "chosen-select-no-single" })
                                    @Html.ValidationMessageFor(model => model.jobs.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <h5>Job Specialty</h5>
                                    @Html.DropDownListFor(model => model.jobs.SpcialityId, Model.Specility, new { @class = "chosen-select-no-single" })
                                    @Html.ValidationMessageFor(model => model.jobs.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <!-- Location -->

                            <div class="row">
                                <h5>Job Type</h5>
                                @Html.DropDownListFor(model => model.jobs.JobType, Model.JobType, new { @class = "chosen-select-no-single" })
                                @Html.ValidationMessageFor(model => model.jobs.JobType, "", new { @class = "text-danger" })
                            </div>



                            <!-- Choose Category -->
                            <div class="row">
                                <div class="form-group">
                                    <h5>Compensation</h5>
                                    @Html.EditorFor(model => model.jobs.Compensation, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.jobs.Compensation, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="row">
                                <h5>Compensation Types <span>(optional)</span></h5>
                                @Html.DropDownListFor(model => model.jobs.CompensationType, Model.CompensationType, new { @class = "chosen-select-no-single" })
                                @Html.ValidationMessageFor(model => model.jobs.CompensationType, "", new { @class = "text-danger" })
                            </div>



                            <div class="row">
                                <h5>Description</h5>
                                @Html.TextAreaFor(model => model.jobs.JobDescription, new { @cols = "40", @rows = "3", @spellcheck = "true" })
                                @Html.ValidationMessageFor(model => model.jobs.JobDescription, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <h5>Education Level</h5>
                                @Html.DropDownListFor(model => model.jobs.EducationLevel, Model.EducationLevel, new { @class = "chosen-select-no-single" })
                                @Html.ValidationMessageFor(model => model.jobs.EducationLevel, "", new { @class = "text-danger" })

                            </div>
                            <div class="row">
                                <h5>Experience Level <span>(optional)</span></h5>
                                @Html.DropDownListFor(model => model.jobs.ExperienceLevel, Model.ExperienceLevel, new { @class = "chosen-select-no-single" })
                                @Html.ValidationMessageFor(model => model.jobs.ExperienceLevel, "", new { @class = "text-danger" })
                            </div>

                            <div class="row">

                            </div>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <div class="row">

                                    <div class="divider">
                                        <h3>Company Details</h3>
                                    </div>
                                    <hr />
                                </div>
                                <div class="row">
                                    <h5>Company Name</h5>
                                    @Html.EditorFor(model => model.employer.CompanyName, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.employer.CompanyName, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <h5>Company Email</h5>
                                    @Html.EditorFor(model => model.CompanyEmail, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.CompanyEmail, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <h5>Logo<span>(optional)</span></h5>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-default btn-file" style="width: 100%; border-color: #2ebb1d">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="..." />
                                        </span>
                                        <span class="fileinput-filename"></span>
                                        @*<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>*@
                                    </div>
                                </div>

                                <div class="row">
                                    <h5>Website <span>(optional)</span></h5>
                                    @Html.EditorFor(model => model.employer.WebSite, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.employer.WebSite, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <h5>Company Address </h5>
                                    @Html.EditorFor(model => model.employer.CompanyAddress, "", new { htmlattributes = new { @class = "search-field", @id = "location" } })
                                    @Html.ValidationMessageFor(model => model.employer.CompanyAddress, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <h5>Contact Number</h5>
                                    @Html.EditorFor(model => model.employer.CompanyContactNo, "", new { htmlattributes = new { @class = "search-field" } })
                                    @Html.ValidationMessageFor(model => model.employer.CompanyContactNo, "", new { @class = "text-danger" })
                                </div>

                            }



                            @if (!User.Identity.IsAuthenticated)
                            {

                                <div class="row">
                                    <div class="form-group">
                                        <h5>First Name</h5>
                                        @Html.EditorFor(model => model.user.FirstName, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.user.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <h5>Last Name</h5>
                                        @Html.EditorFor(model => model.user.LastName, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.user.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <h5>Email</h5>
                                        @Html.EditorFor(model => model.UserEmail, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <h5>Phone</h5>
                                        @Html.EditorFor(model => model.UserPhone, "", new { htmlattributes = new { @class = "search-field" } })
                                        @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            
                            
                            <div class="row">
                                <div class="col-md-7">
                                    <span class="pull-left">
                                        <div class="form-group">
                                            <h4>Do you have a Coupon?</h4>
                                            <h5>Enter Coupon Name (No Coupon? Leave Blank) </h5>
                                            @Html.EditorFor(model => model.CouponName, "", new { htmlattributes = new { @class = "search-field" } })
                                            @Html.ValidationMessageFor(model => model.CouponName, "", new { @class = "text-danger" })
                                        </div>

                                    </span>


                                </div>

                                <div class="col-md-5">
                                    <div class="panel status panel-warning">
                                        <div class="panel-heading">
                                            <h1 class="panel-title text-center">Job Amount</h1>
                                        </div>
                                        <div class="panel-body text-center">
                                            <strong id="jobamount">@Model.JobRate</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divider margin-top-0"></div>
                            <button name="button" class="button big margin-top-5">Post Job<i class="fa fa-arrow-circle-right"></i></button>

                        </div>


                    }
                    <div class="col-md-4">
                        <h3 class="margin-bottom-5">Latest Events</h3>

                        <!-- Navigation -->
                        @*<div class="showbiz-navigation">
                                <div id="showbiz_left_1" class="sb-navigation-left">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div id="showbiz_right_1" class="sb-navigation-right">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>*@
                        <div class="clearfix"></div>
                        @if (Model.eventAdList.Any())
                        {
                            @*<div id="job-spotlight" class="showbiz-container">
                                <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1">
                                    <div class="overflowholder">*@

                            <ul>
                                @foreach (var item in Model.eventAdList)
                                {


                                    <li>
                                        <div class="job-spotlight">
                                            <a href="@Url.Action("AllEvents", "EventAds")">
                                                <h3 style="color: brown"> @item.Title </h3>
                                                <h4>
                                                    <span class="part-time">
                                                        @item.EventDate.ToShortDateString()

                                                </span> <span class="full-time">@item.time</span>
                                            </h4>
                                            <span><i class="fa fa-briefcase"></i>@item.eventCatrgory.Name</span><br />

                                            <span><i class="fa fa-location-arrow"></i>@item.City</span><br />
                                            <span><i class="fa zip-code"></i>@item.Zipcode</span><br />
                                            <span><i class="fa fa-map-marker"></i>@item.Address</span>
                                            @*<p>@item.Description</p>*@
                                        </a>
                                    </div>
                                </li>

                                <br />
                                }

                            </ul>
                            @*<div class="row">
                                        <div class="col-lg-4 col-lg-offset-3"><a href="@Url.Action("AllEvents","EventAds")" class="btn btn-success">Show More Events</a></div>
                                    </div>
                                <div class="clearfix"></div>*@

                            @*</div>*@
                            <div class="clearfix"></div>
                            @*</div>
                                </div>*@
                        }

                        <a href="@Url.Action("AllEvents", "EventAds")" class="btn btn-primary" style="width: 100%"> See All Events</a>

                    </div>



                </div>

            </div>

        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/summernote/summernote.min.js"></script>
        <!-- WYSIWYG Editor -->
        <script type="text/javascript" src="~/Scripts/jquery.sceditor.bbcode.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.sceditor.js"></script>

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>*@

<script>
    
    $("#CouponName").keyup(function () {
        //alert("KeyUp" + $("#CouponName").val());
        

            var CouponName = $("#CouponName").val();
            $.ajax({
                url: '@Url.Action("giveJobCouponValue", "ManageCoupons")',
                type: 'POST',
                data: JSON.stringify({
                    "CouponName": CouponName,
                }),
                dataType: 'json',
                traditional: true,
                contentType: 'application/json',
                //beforeSend: function () {

                //},
                success: function (response) {
                   // alert(response.amount);
                    document.getElementById("jobamount").innerHTML = (parseInt(document.getElementById("jobrate").value)) - (parseInt(response.amount));

                },
                error: function (error) {
                    alert("error");

                }
            });
        });
   
    
</script>

