﻿
@{
    ViewBag.Title = "ThanksPage";
}


@{
    ViewBag.Title = "Thank you for Registration";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div class="thanks-sec">

        <section class="thanks_inner">

            <div class="container">

                <div class="col-md-12">
                    <div class="thanks_text">
                        <div class="height100"></div>
                        <h4 class="thanks_heading">Thank You</h4>
                        @*<img src="~/Content/Images/thanks_tick.png" />*@
                        <p class="text_th_1">
                            Thank you for your interest in HealtCare Job & Event Center. Your job is under review and we will get back to you
                            shortly. An Email is already sent to you with necessary information.
                        </p>
                        <p class="text_th_2"></p>
                        <p><a class="thanks_button" href="@Url.Action("Index", "Home")">Return to Home Page</a></p>
                    </div>

                </div>

            </div>

        </section>



    </div>

</body>
</html>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .pi-texture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .thanks-sec {
        position: absolute;
        background: #364150;
        height: 100%;
        width: 100%;
    }

    .thanks_text {
        border: 1px solid #888;
        margin: 0 auto;
        padding: 100px;
        text-align: center;
        width: 50%;
        background: #fff;
    }

    .thanks_heading {
        color: #000;
        font-family: sans-serif;
        font-size: 65px;
        text-transform: uppercase;
    }

    .thanks_text .text_th_1 {
        color: #777;
        font-size: 17px;
        margin-bottom: 10px;
        text-align: center;
    }

    .thanks_text .text_th_2 {
        text-align: center;
        color: #777;
        font-size: 17px;
        margin-bottom: 30px;
    }


    a.thanks_button {
        background: #019d97 none repeat scroll 0 0;
        border-radius: 4px;
        color: #fff;
        padding: 8px 32px;
        text-decoration: none;
        text-rendering: optimizelegibility;
        font-family: sans-serif;
        font-weight: 600;
    }

        a.thanks_button:hover {
            background: none;
            border: 1px solid #019d97;
            color: #019d97;
        }

    section.thanks_inner {
        margin-top: 10%;
        position: relative;
    }

    .thanks_text img {
        margin: 20px 0;
    }
</style>

