﻿@model HealthCareJC.ViewModels.ResumeViewModel
    @{ 
        AjaxOptions SaveEducation = new AjaxOptions
        {
            OnBegin = "BeginSaveEducation",
            OnSuccess = "SuccessSaveEducation",
            OnFailure = "FailureSaveEducation"

        };
        AjaxOptions SaveExperience = new AjaxOptions
        {
            OnBegin = "BeginSaveExperience",
            OnSuccess = "SuccessSaveExperience",
            OnFailure = "FailureSaveExperience"

        };




    }

<body>
    <div id="wrapper">

        <!-- Titlebar
        ================================================== -->
        <div id="titlebar" class="single submit-page">
            <div class="container">

                <div class="sixteen columns">
                    <h2><i class="fa fa-plus-circle"></i> Add Resume</h2>
                </div>

            </div>
        </div>


        <!-- Content
        ================================================== -->
        <div class="container">

            <!-- Submit Page -->
            <div class="row">
                <div class="submit-page">

                    <!-- Notice -->
                    <div class="notification notice closeable margin-bottom-40">
                        <p><span>Have an account?</span> If you don’t have an account you can create one below by entering your email address. A password will be automatically emailed to you.</p>
                    </div>
@using (Html.BeginForm("AddSaveResume", "Resumes", FormMethod.Post, new { enctype ="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
                    <div class="row">
                        <h5>Your Name</h5>
                        @Html.EditorFor(model => model.Name, new { htmlattributes = new { @class = "searchField", @disabled="disabled"} })
                        

                    </div>

                    <!-- Email -->
                    <div class="row">
                        <h5>Your Email</h5>
                        @Html.EditorFor(model => model.Email, new { htmlattributes = new { @class = "searchField",  @disabled = "disabled" } })
                       
                    </div>

                    <!-- Title -->
                    <div class="row">
                        <h5>Professional Title</h5>

                        @Html.EditorFor(model => model.jobseeker.ProfessionalTitle, new { htmlattributes = new { @class = "searchField", @placeholder = "e.g. Web Developer" } })

                    </div>
                    <div class="row">
                        <h5>Skills</h5>

                        @Html.EditorFor(model => model.jobseeker.Skills, new { htmlattributes = new { @class = "searchField", @placeholder = "e.g. Web Developer,Web designer" } })

                    </div>

                    <!-- Location -->
                    <div class="row">
                        <h5>Location</h5>

                        @Html.EditorFor(model => model.jobseeker.CurrentAddress, new { htmlattributes = new { @class = "searchField", @placeholder = "e.g. London, UK", id = "location" } })
                    </div>
                    <div class="row">
                        <h5>Phone Number</h5>
                        
                        @Html.EditorFor(model => model.PhoneNo, new { htmlattributes = new { @class = "searchField"} })
                    </div>

                    <!-- Logo -->
                    
                    <div class="row">
                        <h5>Photo <span>(optional)</span></h5>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-default btn-file">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span><input type="file" name="..." />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
                        </div>
                    </div>


                    <!-- Description -->
                    @*<div class="row">
                        <h5>Resume Content</h5>

                        @Html.TextAreaFor(model => model.jobseeker.ResumeSummary, new { htmlattributes = new { @class = "WYSIWYG", @clos = "40", rows = "3", spellcheck = "true", id = "summary" } })
                    </div>*@



                    <!-- Education -->
                    <div class="form with-line row">
                        <h5>Education <span>(optional)</span></h5>
                        <a class="button" id="educationclick"><i class="fa fa-plus-circle"></i> Add Education</a>
                        <div class="row" id="educationtable">
                            @if (Model.ListjobseekerEducation.Any())
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>School</th>
                                            <th>Degree</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Percentage</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            @foreach (var VARIABLE in Model.ListjobseekerEducation)
                                            {
                                                <tr>

                                                    <td>@VARIABLE.School</td>
                                                    <td>@VARIABLE.Degree</td>
                                                    <td>@VARIABLE.StartDate</td>
                                                    @if (VARIABLE.Continue)
                                                    {
                                                        <td>Not Completed Yet</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@VARIABLE.EndDate</td>
                                                    }
                                                    <td>@VARIABLE.Percentage</td>
                                                    <td><input type="button" calss="btn btn info" id=@VARIABLE.Id value="Edit" /></td>


                                                </tr>
                                            }
                                        



                                    </tbody>
                                </table>
                            }
                            else
                            {

                            }

                        </div>

                    </div>


                    <!-- Experience  -->
                    <div class="form with-line row">
                        <h5>Experience <span>(optional)</span></h5>
                    <a class="button" id="experienceclick"><i class="fa fa-plus-circle"></i> Add Experience</a>
                        <div class="row" id="Experincetable">
                            @if (Model.ListjobseekerExperience.Any())
                            {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Job Title</th>
                                            <th>Company Name</th>
                                            <th>Job Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Responsibilities</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                            @foreach (var VARIABLE in Model.ListjobseekerExperience)
                                            {
                                                <tr>

                                                    <td>@VARIABLE.JobTitle</td>
                                                    <td>@VARIABLE.CompanyName</td>
                                                    <td>@VARIABLE.JobType</td>
                                                    <td>@VARIABLE.StartDate</td>

                                                    @if (VARIABLE.Continue)
                                                    {
                                                        <td>Not Completed Yet</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@VARIABLE.EndDate</td>
                                                    }
                                                    <td>@VARIABLE.Responsiblities</td>
                                                    <td><input type="button" calss="btn btn info" id=@VARIABLE.Id value="Edit" /></td>


                                                </tr>
                                            }
                                        



                                    </tbody>
                                </table>

                            }
                            else
                            {





                            }
                        </div>
                    </div>


                    <div class="divider margin-top-0 padding-reset"></div>
                    <button class="button big margin-top-5">Save <i class="fa fa-arrow-circle-right"></i></button>
}
                </div>
            </div>

        </div>


    </div>






    <div id="EducationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Education</h4>
                </div>
                @using (Ajax.BeginForm("SaveEducation", "Resumes", SaveEducation))
{
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5>School Name</h5>
                        @Html.EditorFor(model => model.jobseekereducation.School, new { htmlattributes = new { @class = "searchField", @placeholder = "School Name" } })

                    </div>
                    <div class="col-md-6">
                        <h5>Degree Name</h5>
                        @Html.EditorFor(model => model.jobseekereducation.Degree, new { htmlattributes = new { @class = "searchField", @placeholder = "Degree Name" } })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Start Date</h5>
                        @Html.EditorFor(model => model.jobseekereducation.StartDate, new { htmlattributes = new { @class = "searchField", @placeholder = "Start Date", type = "date" } })

                    </div>

                    <div class="col-md-6">
                        <h5>End Date</h5>
                        @Html.EditorFor(model => model.jobseekereducation.EndDate, new { htmlattributes = new { @class = "searchField", @placeholder = "End Date", type = "date" } })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Continue</h5>
                        <div class="checkbox">
                            @Html.EditorFor(model => model.jobseekereducation.Continue, new { htmlattributes = new { @class = "searchField", @placeholder = "Continue" } })
                            <label>
                                if  Not Completed
                            </label>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <h5>Percentage</h5>
                        @Html.EditorFor(model => model.jobseekereducation.Percentage, new { htmlattributes = new { @class = "searchField", @placeholder = "Percentage" } })

                    </div>
                </div>
                <div class="divider margin-top-0 padding-reset"></div>
                <button class="btn btn-success">Save <i class="fa fa-arrow-circle-right"></i></button>


            </div>
}
            </div>
        </div>
    </div>
    <div id="ExperienceModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Experience</h4>
                </div>
@using (Ajax.BeginForm("SaveExperience", "Resumes", SaveExperience))
{
                <div class="modal-body">
                    <!-- Add Experience -->
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Job Title</h5>
                            @Html.EditorFor(model => model.jobseekerexperience.JobTitle, new { htmlattributes = new { @class = "searchField", @placeholder = "JOb Title" } })
                        </div>
                        <div class="col-md-6">
                            <h5>Company Name</h5>
                            @Html.EditorFor(model => model.jobseekerexperience.CompanyName, new { htmlattributes = new { @class = "searchField", @placeholder = "Company Name" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Job Type</h5>
                            @Html.DropDownListFor(model => model.jobseekerexperience.JobType, Model.JobType, new { @class = "chosen-select-no-single" })
                            @Html.ValidationMessageFor(model => model.jobseekerexperience.JobType, "", new { @class = "text-danger" })
                        </div>


                        <div class="col-md-6">
                            <h5>Start Date</h5>
                            @Html.EditorFor(model => model.jobseekerexperience.StartDate, new { htmlattributes = new { @class = "searchField", @placeholder = "Start Date", type = "date" } })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>End Date</h5>
                            @Html.EditorFor(model => model.jobseekerexperience.EndDate, new { htmlattributes = new { @class = "searchField", @placeholder = "End Date", type = "date" } })

                        </div>
                        <div class="col-md-6">
                            <h5>Continue</h5>
                            <div class="checkbox">
                                @Html.CheckBoxFor(model => model.jobseekerexperience.Continue, new { htmlattributes = new { @class = "searchField", @placeholder = "Continue" } })
                                <label>Still Working here</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h5>Job Responsiblities</h5>
                            @Html.EditorFor(model => model.jobseekerexperience.Responsiblities, new { htmlattributes = new { @class = "searchField", @placeholder = "Resposiblities" } })
                        </div>
                    </div>
                    <div class="divider margin-top-0 padding-reset"></div>
                    <button class="btn btn-success">Save <i class="fa fa-arrow-circle-right"></i></button>

                </div>
}
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $("#educationclick").click(function () {
        $("#EducationModal").modal('show');
    });
    $("#experienceclick").click(function () {
        $("#ExperienceModal").modal('show');
    });
    
    function BeginSaveEducation()
    { }
    function SuccessSaveEducation(data)
    {
        debugger;
        $("#educationtable").html("");
        $("#educationtable").html(data);
        $("#EducationModal").modal('hide');
        $("#EducationModal").find("input,textarea,select").val('').end().find("input[type=checkbox], input[type=radio]").prop("checked", "").end();


    }
    function FailureSaveExperience(data)
    { }
    function BeginSaveExperience()
    { }
    function SuccessSaveExperience(data) {
        debugger;
        $("#Experincetable").html("");
        $("#Experincetable").html(data);
        $("#ExperienceModal").modal('hide');
        $("#ExperienceModal").find("input,textarea,select").val('').end().find("input[type=checkbox], input[type=radio]").prop("checked", "").end();


    }
    function FailureSaveEducation(data)
    { }

</script>