﻿@model HealthCareJC.ViewModels.JobseekerDashboardViewModel
@{
    ViewBag.Title = "AppliedJobs";
}

<body>
    <hr />
    <div id="wrapper">


        <!-- Content
        ================================================== -->
        <div class="container">
            <div class="row">

                <!-- Recent Jobs -->
                <div class="col-md-12">
                   


                        <table id="showdata" class="table dataTables-example">
                            <thead style="display: none">
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="job-list">


                                @{
                                    if (Model.jobList != null)
                                    {
                                        foreach (var item in Model.jobList)
                                        {


                                            <tr>
                                                <td style="border-top: 0px">
                                                    <ul class="job-list">
                                                        <li class="highlight">
                                                            <a href="@Url.Action("JobDetail","Jobs")?id=@item.job.Id">
                                                                <img src="~/Content/Images/Logo/@item.emp.Logo" alt="">
                                                                <div class="job-list-content">
                                                                    <h4>
                                                                        @item.job.JobTitle

                                                                        @if (@item.job.JobType == "Part-Time")
                                                                        {
                                                                            <span class="part-time">Part-Time</span>
                                                                        }
                                                                        @if (@item.job.JobType == "Full-Time")
                                                                        {
                                                                            <span class="full-time">Full-Time</span>
                                                                        }
                                                                        @if (@item.job.JobType == "Internship")
                                                                        {
                                                                            <span class="internship">Internship</span>
                                                                        }
                                                                        @if (item.job.JobType == "Freelance")
                                                                        {
                                                                            <span class="freelance">Freelance</span>
                                                                        }
                                                                        @if (item.job.JobType == "Temporary")
                                                                        {
                                                                            <span class="temporary">Temporary</span>
                                                                        }

                                                                    </h4>

                                                                    <h4> @item.emp.CompanyName</h4>
                                                                    <div class="job-icons">
                                                                        <span><i class="fa fa-briefcase"></i>@item.Name</span>

                                                                        <span><i class="fa fa-map-marker"></i> @item.job.JobLocation</span>
                                                                        <span><i class="fa fa-money"></i> @item.job.Compensation - @item.job.CompensationType</span> <br />

                                                                        
                                                                    </div>
                                                                    <div class="listing-desc">
                                                                        <p> @item.job.JobDescription</p>
                                                                        </div>
                                                                    </div>
                                                            </a>

                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>


                                        }
                                    }
                                }
                            </tbody>
                        </table>


                        <div class="margin-bottom-55"></div>
                    </div>
                </div>


    </div>
        </div>
</body>



<script>

       $(document).ready(function () {

           $('.dataTables-example').DataTable({

               "searching": false,
               "ordering": false,
               "pageLength": 10,
               "bLengthChange": false,
               "info": false
               //  "bPaginate": false

           });

       });






</script>

