﻿@model HealthCareJC.ViewModels.ResumeDetailViewModel
@using HealthCareJC.Models;
@using Microsoft.AspNet.Identity;
@{
    ApplicationDbContext db = new ApplicationDbContext();

    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
}
<body>
    <div id="wrapper">
@if (Model.jobseekerList.Any())
{
    foreach (var item in Model.jobseekerList)
    {


        <div id="titlebar" class="resume">
            <div class="container">
                <div class="col-lg-10">
                    <div class="resume-titlebar">
                        <img src="~/JobseekerPhotos/@item.PicturePath" alt="">
                        <div class="resumes-list-content">
                            <h4>@item.user.FirstName  @item.user.LastName <span>@item.ProfessionalTitle</span></h4>
                            <span class="icons"><i class="fa fa-map-marker"></i>@item.CurrentAddress</span>
                            @*<span class="icons"><i class="fa fa-money"></i> $100 / hour</span>*@
                            @*<span class="icons"><a href="#"><i class="fa fa-link"></i> Website</a></span>*@
                            <span class="icons"><a href="/cdn-cgi/l/email-protection#c3a9acabadeda7aca683a6bba2aeb3afa6eda0acae"><i class="fa fa-envelope"></i> <span class="__cf_email__" data-cfemail="761c191e185812191336130e171b061a135815191b">@item.user.Email</span></a></span>
                            <div class="skills">
                                @if (Model.skills !=null)
                                {
                             foreach (var skil in Model.skills)
                             {
                                <span>@skil.ToString()</span>


                             }
                                }
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <div class="six columns">
                    <div class="two-buttons">
                       @if (obj.UserType == "Employer")
                       {
                        <a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>
                        }

                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
                            <div class="small-dialog-headline">
                                <h2>Send Message to @item.user.FirstName @item.user.LastName</h2>
                            </div>

                            <div class="small-dialog-content">
                                <form action="#" method="get">
                                    <input type="text" placeholder="Full Name" value="" />
                                    <input type="text" placeholder="Email Address" value="" />
                                    <textarea placeholder="Message"></textarea>

                                    <button class="send">Send Application</button>
                                </form>
                            </div>

                        </div>
                        


                    </div>
                </div>

            </div>
        </div>


        <!-- Content
        ================================================== -->
        <div class="container">
            <!-- Recent Jobs -->
            <div class="col-lg-6">
                <div class="padding-right">

                    <h3 class="margin-bottom-15">About Me</h3>

                @*@item.ResumeSummary*@

                </div>
            </div>


            <!-- Widgets -->
            <div class="col-lg-6">

                <h3 class="margin-bottom-20">Education</h3>

                <!-- Resume Table -->
                <dl class="resume-table">
                @foreach (var items in Model.jobseekerEducationList)
                {
                   

                    <dt>
                        
                      
                        @if (items.Continue)
                        {
                            <small class="date"> @items.StartDate. - continue </small>

                        }
                        else
                        {
                            <small class="date"> @items.StartDate - @items.EndDate </small>
                        }
                            


                       <strong>@items.Degree @items.School</strong>

                   </dt>

                  
                }

                </dl>

            </div>

        </div>
    }
}
</div>
</body>
