﻿<div class="modal inmodal" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top: 50px">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <h5 class="modal-title" style="color: #ed5565">Get Alerts & Update In Your Inbox</h5>

            </div>
            @using (Html.BeginForm(Html.BeginForm("AddSubscriber", "Subscribers", FormMethod.Post)))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="small-dialog-content">

                            <input type="text" name="fullname" placeholder="Full Name" value="" required="" />
                            <input type="email" name="email" placeholder="Email Address" value="" required="" />
                            <input type="text" name="phone" placeholder="Contact Number" value="" />

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" id="submit" value="Subscribe" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>

