﻿
<hr/>
<div id="wrapper">
    <br/>
    <br/>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            
            <span class="centered">
                <center>  <h2>Subscribed Successfully</h2></center>
            </span>

            <h4>Thank you for you interest in HeathCare Job Search Center! Keep checking your Inbox for latest News, Updates, Job Alerts and many more... </h4>

            <center>   @Html.ActionLink("Continue Using System", "Index", "Home", new { @class = "btn btn-Primary" }, null)</center>


        </div>

    </div>

</div>



<div class="clearfix"></div>
<div class="margin-top-30"></div>


<div class="margin-bottom-50"></div>


