﻿
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,700i,900);


.searchTabs{ text-align:center; margin-top:67px;}
.searchTabs input[type="text"]{ width:100%; border-right:1px solid #d5d5d5; margin-bottom:auto; max-height:57px;}
.searchTabs input[type="button"]{float:none;    border-left-style: solid;
    border-width: thin;
    border-color: #d5d5d5;
    margin-left: 0px;
}

.searchTabs .panel-default > .panel-heading{ background:#01c9de; border:none; border-radius:0;}
.searchTabs .panel-default > .panel-heading h4 span{ margin-right:10px;}
.searchTabs .panel-group .panel{ border:none; box-shadow:none; border-radius:0;}
.searchTabs{ width:70%; margin:38px auto 0; text-align:center;}
.searchTabs .nav-tabs{ border:none; text-align:center; padding-top:10px;}
.searchTabs .nav-tabs > li{ margin-bottom:14px; float:none; display:inline-block;}
.searchTabs .nav-tabs > li span{ display:inline-block; width:100%; height:28px;}
.searchTabs .nav-tabs > li > a{font-family: 'Poppins', sans-serif; font-size:18px; color:#242424; text-transform:uppercase; border:none; border-radius:0;line-height:none; padding:0; margin:0 15px;}
.searchTabs .nav-tabs > li.active > a, .searchTabs .nav-tabs > li.active > a:focus, .searchTabs .nav-tabs > li.active > a:hover{ border:none; border-bottom:3px solid #00a9da; padding-bottom:7px;}
.searchTabs .nav > li > a:focus, .searchTabs .nav > li > a:hover{ background:none; border:none;border-bottom:3px solid #00a9da; transition:none;padding-bottom:7px;}
.searchTabs input[type=text]{ background:#f8f7f7; border:1px solid #d5d5d5; color:#000;width:600px; border-right:none; display:inline-block; height:58px; padding:0 15px; font-weight:600; float:left;}


.searchTabs input[type=button]{width:93px; height:58px;background:#00a9da url(Images/search-icon.png) center center no-repeat; text-indent:-9999px; display:inline-block; margin-left:-2px;float:left;}
.searchTabs .tab-content{ text-align:center; padding:40px 0 60px;}
.searchTabs .tab-content{ display: inline-block;}
.searchTabs{ width:100%;}
.ui-autocomplete {
        max-height: 190px;
        overflow-y: auto;
    background-color: red;
        overflow-x: hidden;
    width: 400px;
        
    }
   .topSearch{
    width: 100%;
    height: 34px;
    background: #fff url(Images/search-icon.png) center center no-repeat;
    
    display: inline-block;

    border-style: solid;
    border-width: thin;
    border-color: #d5d5d5;
}
 .listingRight h2{ font-size:20px; color:#3a3939; font-weight:500; margin-bottom:30px;}
.fliterResult > li{ border:1px solid #e5e5e5; background:#fff; padding:5px 0; margin-bottom:0px; margin-bottom: -9px;margin-top: -11px;margin-left: -41px; overflow:hidden;}
.fliterResult > li figure{ float:left; margin-right:10px;}
.fliterResult > li figure img{ width:110px; height:110px; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%;}
.fliterResult > li h3 a{ font-size:16px; color:#161616;}
.fliterResult > li h4{ font-size:14px; color:#373636; margin:5px 0 10px;}
.fliterResult > li p{ font-size:12px; color:#888888; margin-bottom:5px;}
.feedBack{ float:left; clear:both; margin-top:30px;}
.feedBack a{ color:#464646; font-size:11px; text-decoration:underline;}
.feedBack a img{ margin-right:5px;}
.feedBack a:hover, .feedBack a:focus, .fliterResult > li h3 a:hover, .fliterResult > li h3 a:focus, .appointMent p a:hover, .appointMent p a:focus{color:#da452f;}
.appointMent{ border-left:1px solid #e8e8e8; padding-left:40px;}
.appointMent p{color:#464646 !important; margin-bottom:15px !important;}
.appointMent p a{color:#464646}
.appointMent p i{ color:#808080; margin-right:10px; font-size:18px;}
.appointMent p span{ font-style:italic; display:inline-block; width:100%;}
.appointMent button{ color:#fff; font-size:12px; margin-top:10px; width:146px; height:36px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px;}

.avaiLability{ display:inline-block; margin-bottom:5px;}
.avaiLability li{ float:left;}
.avaiLability li a{ border:1px solid #d2d2d2; font-size:12px; color:#666565; padding:5px 8px; margin-left:0;}
.avaiLability li:first-child a{ margin-right:3px;}
/*.avaiLability li a:hover, .avaiLability li a:focus, .avaiLability li a.active{ background:#f04e4e; color:#fff;}*/
.avaiLability li a.availActive{ background:#f04e4e; color:#fff;}
.avaiLability li a:hover{ background:#f04e4e; color:#fff;}
.listingRight .pagination{ float:right;}
.listingRight .pagination > li i{ vertical-align:top;}
.listingRight .pagination > li > a, .listingRight .pagination > li > span{ background:none; border:none; color:#000; font-weight:500; font-size:13px; padding:0; height:24px; line-height:24px; width:24px; text-align:center; margin-right:10px; border-radius:0;}
.listingRight .pagination > li:first-child > a, .listingRight .pagination > li:first-child > span, .listingRight .pagination > li:last-child > a, .listingRight .pagination > li:last-child > span{ border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; border:1px solid #000; font-size:20px; padding:0px; background:none;}
.listingRight .pagination > li > a:focus, .pagination > li > a:hover, .listingRight .pagination > li > span:focus, .pagination > li > span:hover{border:1px solid #000 !important; background:none !important;}
#catBtn{ background:#fccb1c; color:#fff; padding:5px; display:inherit; text-transform:uppercase; margin:0 auto; width:40%; font-size:16px;border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;transition:all 0.2s; margin-bottom:20px;}
#apTable{ display:none;}
.slidingDiv{border:1px solid #dbdbdb; margin-bottom:30px; padding:20px;}
/*.show_hide{display:none;}*/
/***************/


.sidebar-widget {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    height: 344px !important;
}

.sidebar .block {
    margin-bottom: 30px;
    padding: 30px 20px 30px;
    background: #fff;
}

.single-block {
    margin-bottom: 30px;
}

.sidebar .title {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0px 0px 20px;
    font-weight: 600;
}

.sidebar .title::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.sidebar .title::after {
    content: "";
    width: 70px;
    height: 2px;
    left: 0px;
    bottom: -1px;
    position: absolute;
}

.sidebar .search-box {
    padding: 20px 20px 0px 20px;
    margin-bottom: 0px;
}

.form-search {
    position: relative;
}

.form-search .form-control {
    border: 1px solid #eee;
    box-shadow: none;
    border-radius: 3px;
    height: 45px;
}

.form-search .btn {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 12px 9px 13px;
}

.form-search .btn:active,
.form-search .btn:focus {
    box-shadow: none;
    outline: none;
}

.form-search .btn i {
    color: #777;
}

.form-search .form-group, .form-search .form-control {
    width: 100%;
}

.range-slider {
    margin-top: 15px;
    margin-bottom: 30px;
}

.range-slider .ui-slider {
    position: relative;
    text-align: left;
}

.range-slider label {
    font-size: 13px;
    color: #777;
    font-weight: 600;
    margin-bottom: 12px;
}

.range-slider .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #66676b;
    cursor: w-resize;
    outline: none;
    top: -5px;
    margin-left: -8px;
    box-shadow: none !important;
}

.range-slider .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0;
}

.range-slider .ui-slider .ui-slider-handle {
}

.range-slider .ui-widget-content {
    background-color: #ccc;
}

.range-slider .ui-widget-header {
}

.range-slider .ui-slider.ui-state-disabled .ui-slider-handle, .range-slider .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.range-slider .ui-slider-horizontal {
    height: 2px;
    border-radius: 10px;
    width: calc(100% - 16px);
    margin-left: 8px;
}

.range-slider .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.range-slider .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.range-slider .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.min-value:focus, .max-value:focus, .min-value, .max-value {
    width: 40%;
    display: inline-block;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 12px 0 0 0;
    cursor: default;
}

.min-value {
    float: left;
    margin-left: -8px;
    width: 40%;
    margin-right: -8px;
    font-size: 11px;
    color: #888;
    font-weight: 700;
    margin-top: 15px;
}

.max-value {
    float: right;
    width: 40%;
    text-align: right;
    margin-right: -8px;
    font-size: 11px;
    color: #888;
    font-weight: 700;
    margin-top: 15px;
}

.sidebar .recent-properties-box .detail header {
    padding-bottom: 0px;
}

