﻿@model IEnumerable<HealthCareJC.Models.JobSeekerEducation>
<table class="table table-hover">
    <thead>
        <tr>
            <th>School</th>
            <th>Degree</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Percentage</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
            {
                foreach (var VARIABLE in Model)
                {
                <tr>

                    <td>@VARIABLE.School</td>
                    <td>@VARIABLE.Degree</td>
                    <td>@VARIABLE.StartDate</td>
                    @if (VARIABLE.Continue)
                    {
                        <td>Not Completed Yet</td>
                    }
                    else
                    {
                        <td>@VARIABLE.EndDate</td>
                    }
                    <td>@VARIABLE.Percentage</td>
                    <td><input type="button" calss="btn btn info" id=@VARIABLE.Id value="Edit" /></td>


                </tr>
            }
        }



    </tbody>
</table>
