﻿@model IEnumerable<HealthCareJC.Models.JobSeekerExperience>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company Name</th>
            <th>Job Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Responsibilties</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
            {
                foreach (var VARIABLE in Model)
                {
                <tr>

                    <td>@VARIABLE.JobTitle</td>
                    <td>@VARIABLE.CompanyName</td>
                    <td>@VARIABLE.JobType</td>
                    <td>@VARIABLE.StartDate</td>
                    
                    @if (VARIABLE.Continue)
                    {
                        <td>Not Completed Yet</td>
                    }
                    else
                    {
                        <td>@VARIABLE.EndDate</td>
                    }
                    <td>@VARIABLE.Responsiblities</td>
                    <td><input type="button" calss="btn btn info" id=@VARIABLE.Id value="Edit" /></td>


                </tr>
            }
        }



    </tbody>
</table>
