﻿@model IEnumerable<HealthCareJC.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<body>
    <div id="wrapper">
    <div class="clearfix"></div>
    <div class="container">

        <!-- Table -->
        <div class="row">

            <p class="margin-bottom-25">Employers Account</p>

            <table class="manage-table responsive-table">

                <tr>
                    <th><i class="fa fa-file-text"></i>First Name</th>
                    <th><i class="fa fa-user"></i>Last Name</th>
                    <th><i class="fa fa-calendar"></i>Email</th>
                    <th><i class="fa fa-calendar"></i>Phone Number</th>
                    <th><i class="fa fa-check-square-o"></i>Status</th>

                    <th></th>
                </tr>
                <tbody>
                  @if (Model.Any())
                  {
                      foreach (var item in Model)
                      {

                            <tr>
                                <td class="title">@item.FirstName</td>
                                <td class="title">@item.LastName</td>
                                <td class="title">@item.Email</td>
                                <td class="title">@item.PhoneNumber</td>
                                @if (item.Approve)
                                {
                                    <td class="title">Approved</td>
                                }
                                else
                                {
                                    <td class="title">Dis Approved</td>
                                }
                                <td>
                                    @if (item.Approve)
                                    {
                                        <a href="@Url.Action("disApprove", "ApplicationUsers")?id=@item.Id"><i class="fa fa-pencil"></i> Dis Approve</a>
                                    }
                                    else
                                    {

                                        <a href="@Url.Action("Approve", "ApplicationUsers")?id=@item.Id"><i class="fa fa-pencil"></i> Approve</a>
                                    }
                                </td>

                            </tr>
                      }
                  }
        </tbody>
    </table>
</div>
    </div>
</div>
 </body>




    