﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hr/>
<center>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</center>
