﻿
@model HealthCareJC.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<hr/>
<div class="container">

    <div class="my-account">

        
        <div class="tabs-container">
            <!-- Login -->
            
            
   

                
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr/>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})


                    <p class="form-row form-row-wide">
                        <label for="username">
                            Email:
                            <i class="ln ln-icon-Male"></i>
                           
                            @Html.TextBoxFor(m => m.Email, new { name = "username", id = "username"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})

                        </label>
                    </p>

                    

                    <p class="form-row form-row-wide">
                        <label for="password">
                            Password:
                            <i class="ln ln-icon-Lock-2"></i>
                           @Html.PasswordFor(m => m.Password, new { name = "password", id = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </label>
                    </p>

                  

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default button border fw" /> |
                            @Html.ActionLink("Register as a new user", "Register")
                           
                        </div>
                    </div>

                    @*<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                          
                        </div>
                    </div>*@

                }
            
            <hr/>
           
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}