﻿@model HealthCareJC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<hr/>
<div class="container">

    <div class="my-account">




        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <p class="form-row form-row-wide">
                    <label for="firstname">
                        First Name:
                        <i class="ln ln-icon-Male"></i>
                        @Html.TextBoxFor(m => m.FirstName, new { name = "firstname", id = "firstname" })
                    </label>
                </p>

                <p class="form-row form-row-wide">
                    <label for="username2">
                        Last Name:
                        <i class="ln ln-icon-Male"></i>
                        @Html.TextBoxFor(m => m.LastName, new { name = "lastname", id = "lastname" })
                    </label>
                </p>

                <p class="form-row form-row-wide">
                    <label for="email2">
                        Email Address:
                        <i class="ln ln-icon-Mail"></i>

                        @Html.TextBoxFor(m => m.Email, new { name = "email", id = "email" })
                    </label>
                </p>

                <p class="form-row form-row-wide">
                    <label for="password1">
                        Password:
                        <i class="ln ln-icon-Lock-2"></i>

                        @Html.PasswordFor(m => m.Password, new { type = "password", name = "password1", id = "password1" })
                    </label>
                </p>

                <p class="form-row form-row-wide">
                    <label for="password2">
                        Repeat Password:
                        <i class="ln ln-icon-Lock-2"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { type = "password", name = "password2", id = "password2" })
                    </label>
                </p>

            {
                List<SelectListItem> UserTypeList = new List<SelectListItem>();
                UserTypeList.Add(new SelectListItem
                {
                    Text = "..To Hire",
                    Value = "Employer"
                });
                UserTypeList.Add(new SelectListItem
                {
                    Text = "..For A Job",
                    Value = "JobSeeker",
                    Selected = true
                });


                @*<label for="user_email">I&#039;m looking..</label>
               
                    
                    @Html.DropDownListFor(model => model.UserType, UserTypeList, new {@class="input", name="role"})*@


            }
            <label for="user_email">I&#039;m looking..</label>
            <select name="UserType" id="UserType" class="input chosen-select">
                <option value="Employer">..To Hire</option>
                <option value="JobSeeker">.. For A Job</option>
            </select>











                  <p class="form-row">
                  <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                  </p>

        }

    </div>
</div>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
