﻿@model HealthCareJC.ViewModels.AdminDashboardViewModel
@{
    ViewBag.Title = "AdminDashboard";
}




<div id="titlebar" class="resume">


    <div class="container">
        
        <div class="row">
            @if (Model.user.Any())
            {
                foreach (var item in Model.user)
                {
                    <div class="col-md-12">
                        <div class="resume-titlebar">

                            @* <img src="~/Content/Images/Logo/@item.Logo" alt="">*@
                            <div class="resumes-list-content">

                                <span > Welcome! @item.FirstName @item.LastName</span>
                              

                                <div class="clearfix"></div>

                            </div>

                        </div>

                    </div>

                }
            }

        </div>
        <div class="row">
            <div class="col-md-12">

   
                <ul id="popular-categories">


                    <li>
                        <a href="@Url.Action("ManageJobs", "jobs")"><i class="ln  ln-icon-Bar-Chart"></i>Manage Jobs</a>
                    </li>
                    <li>

                        <a href="@Url.Action("ManageEvents", "Eventads")"><i class="ln  ln-icon-Plates"></i>Manage Event Ads</a>
                    </li>
                    <li><a href="@Url.Action("Index", "Users")"><i class="ln ln-icon-Worker"></i> Manage Employers </a></li>
                    <li>

                        <a href="@Url.Action("ManageJobseeker", "Users")"><i class="ln ln-icon-Student-Female"></i>Manage Job Seekers</a>
                    </li>
                    <li>

                        <a href="@Url.Action("JobCategoriesList", "JobCategories")"><i class="ln  ln-icon-Medical-Sign"></i>Manage Job Categories</a>
                    </li>
                    <li>

                        <a href="@Url.Action("Index", "Specialities")"><i class="ln  ln-icon-Medical-Sign"></i> Manage Job Specialities</a>
                    </li>
                    <li>

                        <a href="@Url.Action("Index", "EventCategories")"><i class="ln  ln-icon-Medical-Sign"></i> Manage Event Categories</a>
                    </li>
 <li>

                        <a href="@Url.Action("AllCoupons", "ManageCoupons")"><i class="ln  ln-icon-Medical-Sign"></i> Manage Job Coupons</a>
                    </li>
<li>

                        <a href="@Url.Action("ManageJobRates", "ManageCoupons")"><i class="ln  ln-icon-Medical-Sign"></i> Manage Job Rates</a>
                    </li>
<li>

                        <a href="@Url.Action("AllEventCoupons", "ManageCoupons")"><i class="ln  ln-icon-Medical-Sign"></i> Manage Event Coupons</a>
                    </li>
<li>

                        <a href="@Url.Action("ManageEventRates", "ManageCoupons")"><i class="ln  ln-icon-Medical-Sign"></i> Manage Event Rates</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ClearLogin", "Account")"><i class="ln  ln-icon-Laptop-3"></i>Log Out</a>
                    </li>


                </ul>

                <div class="clearfix"></div>
                <div class="margin-top-30"></div>


                <div class="margin-bottom-50"></div>

            </div>


        </div>


    </div>

    </div>



