﻿@model HealthCareJC.ViewModels.EmployeerDashboardViewModel
@{
    ViewBag.Title = "EmployerDashboard";
}




<div id="titlebar" class="resume">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
@if (Model.user.Any())
{
   
                    foreach (var item in Model.user)
                    {
                        

                        <div class="col-md-12">
 <div class="resume-titlebar">

                            @* <img src="~/Content/Images/Logo/@item.Logo" alt="">*@
                            <div class="resumes-list-content">

                                <span > Welcome! @item.FirstName @item.LastName</span>
                              

                                <div class="clearfix"></div>

                            </div>

                        </div>
                            <nav class="woocommerce-MyAccount-navigation">
                                <ul id="popular-categories">



                                    <li style="margin-bottom: 10px">
                                        <a href="@Url.Action("ManageJobs","jobs")"><i class="ln  ln-icon-Bar-Chart"></i>Manage Jobs</a>
                                    </li>
                                    <li style="margin-bottom: 10px">

                                        <a href="@Url.Action("ManageEvents", "EventAds")"><i class="ln  ln-icon-Bar-Chart"></i>Manage Events</a>
                                    </li>
                                    <li style="margin-bottom: 10px">

                                        <a href="@Url.Action("EditEmployeerProfile", "Jobs")?userid=@item.Id"><i class="ln  ln-icon-Bar-Chart"></i>My Profile</a>
                                    </li>
                                    <li style="margin-bottom: 10px">
                                        <a href="@Url.Action("ResetPassword","Account")"><i class="ln  ln-icon-Bar-Chart"></i>Change Password</a>
                                    </li>

                                    <li style="margin-bottom: 10px"><a href="@Url.Action("PostJob","Jobs")"> <i class="ln  ln-icon-Bar-Chart"></i>Post New Job </a></li>

                                    <li style="margin-bottom: 10px"><a href="@Url.Action("Create","EventAds")"> <i class="ln  ln-icon-Bar-Chart"></i>Post New Event </a></li>
                                    <li style="margin-bottom: 10px">
                                        <a href="@Url.Action("ClearLogin","Account")"><i class="ln  ln-icon-Bar-Chart"></i>Log Out</a>
                                    </li>


                                </ul>
                            </nav>
                        </div>

                    }
                }


            </div>


        </div>

    </div>
</div>


<div class="clearfix"></div>
<div class="margin-top-30"></div>


