﻿@using System.Resources
@model HealthCareJC.ViewModels.JobseekerDashboardViewModel
@{
    ViewBag.Title = "JobSeekerDashboard";
}

<div id="titlebar" class="resume">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
@if (Model.jobseekerList.Any())
{
    foreach (var item in Model.jobseekerList)
    {
                <div class="col-md-8">
                    <div class="resume-titlebar">
                        <img src="~/JobseekerPhotos/@item.PicturePath" alt="">
                        <div class="resumes-list-content">
                            <h4>@item.user.FirstName @item.user.LastName <span>@item.ProfessionalTitle</span></h4>
                            <span class="icons"><i class="fa fa-map-marker"></i>@item.CurrentAddress</span>
                            <span class="icons"></span><br />
                            @*<span class="icons"><a href="#"><i class="fa fa-link"></i> Website</a></span>*@
                            <span class="icons"><i class="fa fa-envelope"></i>@item.user.Email</span>
                            <div class="skills">
                                @if (Model.skills != null)
                                {
                                    foreach (var skil in Model.skills)
                                    {
                                        <span>@skil.ToString()</span>


                                    }
                                }
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    
                    <nav class="woocommerce-MyAccount-navigation">
                        <ul>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("AppliedJobs","Resumes")?id=@item.UserId" > Applied Jobs </a></li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("EditResume","Resumes")?UserID=@item.UserId">My Profile</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ResumeDetail","Resumes")?id=@item.UserId">My Resume</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ResetPassword","Account")">Change Password</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin", "Account")">Log Out</a>
                            </li>


                        </ul>
                    </nav>
                </div>
    }
}
            </div>

        </div>
        
    </div>
</div>


<div class="clearfix"></div>
<div class="margin-top-30"></div>


