﻿@model HealthCareJC.Models.EventCoupon
<link href ="~/Content/summernote/summernote.css" rel = "stylesheet"/>
<link href="~/Content/summernote/summernote-bs3.css" rel="stylesheet"/>
    <div id="wrapper">
    <div class="clearfix"></div>
    <hr />
   <div class="row">
        
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                   
                   
                    @using (Html.BeginForm("AddNewEventCoupon", "ManageCoupons", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="col-md-8">



                            <div class="row">
                                <div class="divider">
                                    <h3>Coupon Details</h3>
                                </div>
                                <hr/>
                            </div>
                            
                            

                            <div class="row">
                                <div class="form-group">
                                    <h5>Coupon Title</h5>
                                    @Html.EditorFor(model => model.CouponName, "", new {htmlattributes = new {@class = "search-field"}})
                                    @Html.ValidationMessageFor(model => model.CouponName, "", new {@class = "text-danger"})
                                </div>
                            </div>
                          
                           <div class="row">
                                <div class="form-group">
                                    <h5>Coupon Amount</h5>
                                    @Html.EditorFor(model => model.Amount, "", new {htmlattributes = new {@class = "search-field"}})
                                    @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        
                
                            <div class="row">
                                <div class="form-group">
                                    <h5>Coupon Expiry Date</h5>
                                    @Html.EditorFor(model => model.ExpiryDate, "", new { htmlAttributes = new { @class = "search-field date datetime" } })
                                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new {@class = "text-danger"})
                                </div>
                            </div>


                                                                  
                            <div class="row">
                    
                        <button name="button" class="button big margin-top-5">Save<i class="fa fa-arrow-circle-right"></i></button>
                    
                </div>  
                        <div class="clearfix"></div>
</div>
                         
                    }
                    
                
                </div>
                
                    

                </div>

            </div>

        </div>
    </div>
</div>
  
@*<script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/summernote/summernote.min.js"></script>
        <!-- WYSIWYG Editor -->
        <script type="text/javascript" src="~/Scripts/jquery.sceditor.bbcode.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.sceditor.js"></script>

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>*@



 