﻿@model IEnumerable<HealthCareJC.Models.EventCoupon>


<body>
<hr/>
<div id="wrapper">
<div class="clearfix"></div>
      
        <hr/>

        <div class="container">
  <div class="row">
 <nav id="breadcrumbs">
                        <ul>

                            <li>

                                <a href="@Url.Action("AddEventCoupon", "ManageCoupons")" class="btn btn-success" style="color: white">Add Coupon</a>
                            </li></ul></nav>
                

                <table class="manage-table responsive-table">
                    <thead>

                    <tr>
                        <th><i class="fa fa-file-text"></i> Title</th>
<th><i class="fa fa-file-text"></i> Discount Amount</th>
                        <th><i class="fa fa-check-square-o"></i> Status</th>
                        <th><i class="fa fa-calendar"></i> Expiry Date</th>

                        <th><i class="fa fa-user"></i> Action</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>

                       
@{
                            foreach (var item in Model)
                            {




                                <tr>
                                    <td class="title"><a href="#">@item.CouponName</a></td>
                                   
                                      <td class="title"><a href="#">@item.Amount</a></td>
@if(@item.Status==1){
                                   <td class="title"><a href="#">Active</a></td>
}else
{
 <td class="title"><a href="#">Inactive</a></td>
} <td class="title"><a href="#">@item.ExpiryDate</a></td>

                                    <td class="action">
                                   
                                        <a href="@Url.Action("DeleteEventCoupon", "ManageCoupons")?id=@item.Id" class="delete"><i class="fa fa-remove"></i> Delete</a>

                                    </td>
                                </tr>
                              
                            }
                        }
                    </tbody>

                </table>

                <br>

           


            </div>

</div>

</div>
</body>




   
<script>

    $(document).ready(function () {

        $('.manage-table').DataTable({
            "searching": false,
            "ordering": false,
            "pageLength": 10,
            "bLengthChange": false,
            "info": false

        });


    });


</script>