﻿<div id="footer">
    <!-- Main -->
    <div class="row">
        <div class="col-md-12">
        <div class="col-md-5">
            <h4>About</h4>
            <p style="font-size:small">
                One Platform for all Jobs posting, Jobs search and Event Ads. Now its easy to filter your jobs search by Hospital jobs, Professional Jobs, Service Office Jobs. 
                Not only this, Quest Jobs Search portal allows you to search jobs for a specific Area with zip code, street name, state name.
                Its here and you are in right place start searching and posting jobs.
            </p>
        </div>

        <div class="col-md-3" style="font-size:small">
            <h4>Quick Access</h4>
            <ul class="footer-links">
                <li><a href="@Url.Action("AllEvents","EventAds")">Latest Events</a></li>
                <li><a href="@Url.Action("PostJob","Jobs")">Post A Job</a></li>
                <li><a href="@Url.Action("Create","EventAds")">Post Event Ad.</a></li>
                <li><a href="@Url.Action("Login","Account")">Sign In</a></li>
                <li><a href="@Url.Action("Register","Account")">Sign Up</a></li>
                
            </ul>
        </div>

        <div class="col-md-4" style="font-size:small" >
            <h4>Contact Us</h4>
            
            
            <p>
                <i class="ln  ln-icon-Map-Marker2"></i>8280 Willow Oaks Corporate Dr,<br/>
                Fairfax, VA 22031 USA.
            </p>
          <p>
              <i class="ln  ln-icon-Phone-2"></i>  USA Toll Free: 888-800-7608<br/>
                All Calls: 571-765-6083<br/>
              <i class="ln  ln-icon-Email"></i>  css@healthcarejsc.com
            </p>
        </div>

       
        
        </div>
    </div>
    
    <!-- Bottom -->
    <div class="container">
        <div class="footer-bottom">
            <div class="sixteen columns">
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                </ul>
                <div class="copyrights" style="font-size:small">©  Copyright 2019. <a href="#">Quest Job Center</a>. All Rights Reserved.</div>
                <hr /><div class="copyrights"><center><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" /></center></div>
            </div>
        </div>
    </div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
