﻿@using Microsoft.AspNet.Identity
<header class="sticky-header">
    <div class="container">
        <div class="sixteen columns">

            <!-- Logo -->
            <div id="logo">
                <h1><img src="~/Images/hcjclogo.png" alt="Work Scout" /></h1>
            </div>

            <!-- Menu -->
            <nav id="navigation" class="menu">
                <ul id="responsive">

                    <li><a href=@Url.Action("Index","Home")>Home</a></li>
                   
                    <li>
                        <a href="#">Job/Ad Manager</a>
                        <ul>
                            <li><a href="@Url.Action("AllEvents","EventAds")">Latest Event Ads</a></li>
                            <li><a href="@Url.Action("PostJob", "Jobs")">Post A Job</a></li>
                            <li><a href="@Url.Action("Create", "EventAds")">Post Event Ad</a></li>
                            <li><a href="@Url.Action("ManageJobs", "Jobs")">Manage Jobs</a></li>

                            <li><a href="@Url.Action("ManageEvents", "EventAds")">Manage Event Ads</a></li>
                            @*<li><a href=@Url.Action("AllJobs", "Jobs")>Browse All Jobs</a></li>
                            <li><a href=@Url.Action("AllJobs", "Jobs")>Hospital Jobs</a></li>
                            <li><a href=@Url.Action("AllJobs", "Jobs")>Facility Jobs</a></li>
                            <li><a href=@Url.Action("AllJobs", "Jobs")>Dentist Jobs</a></li>
                            <li><a href="@Url.Action("Index", "JobCategories")">Jobs By Categories</a></li>
                            <li><a href="@Url.Action("Companies", "Jobs")">Jobs By Companies</a></li>*@
                            <li><a href=@Url.Action("SelectDashboard", "Dashboards")>My Dashboard</a></li>

                        </ul>
                    </li>
                    <li><i><a href="@Url.Action("PostJob","jobs")" class="btn btn-primary" style="background-color: brown; border-color: brown;color: white"> Post A Job</a></i></li>
                    <li><i><a href="@Url.Action("Create","EventAds")" class="btn btn-primary" style="background-color: #2ebb1d; border-color: #2ebb1d;color: white"> Post Event Ad</a></i></li>

                    

                    @*<li>
                        <a href="#">Employers</a>
                        <ul>
                            <li><a href="@Url.Action("PostJob","Jobs")">Post A Job</a></li>
                            <li><a href="@Url.Action("ManageJobs","Jobs")">Manage Jobs</a></li>
                            <li><a href=@Url.Action("SelectDashboard","Dashboards")>My Dashboard</a></li>
                        </ul>
                    </li>*@
                    @*<li><a href=@Url.Action("Index","Blogs")>Blog</a></li>*@

                    @*<li><a href="#small-dialog" class="popup-with-zoom-anim">Get Alerts & Updates</a></li>*@
                    <li><i class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Subscribe</i></li>
                    
                </ul>
           
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                       
                        @*<ul>
                            <li>
                                @Html.ActionLink(User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        
                            </li>
                            
                        </ul>*@


                        <ul class="float-right">
                            
                           
                            <li>
                                
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                            </li>

                        </ul>

                    }
                }
                else
                {
                    <ul class="float-right">

                        
<!--<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
<li>
<div class="dropdown" >
  <button class="btn btn-default dropdown-toggle"  type="button"  id = "registerLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Register <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a style="margin:5px;padding:5px;"class="dropdown-item" href='@Url.Action("RegisterJobSeeker", "Account")'>Job Seeker</a>
    <a style="margin:5px;padding:5px;" class="dropdown-item" href='@Url.Action("RegisterJobEmployer", "Account")'>Employer</a>
    
  </div>
</div>

</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }

            </nav>

            <!-- Navigation -->
            <div id="mobile-navigation">
                <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
            </div>

        </div>
    </div>
</header>

@{ Html.RenderPartial("~/Views/Subscribers/_Subscriber.cshtml");  }

