﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title  HCJC</title>


    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    

    
    
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/colors/red.css" id="colors">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    
    <link href="~/Content/summernote/summernote-bs3.css" rel="stylesheet" />
    <link href="~/Content/summernote/summernote.css" rel="stylesheet" />

  @*  <script src="~/Scripts/jquery-2.1.3.min.js"></script>*@

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.js"></script>
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    
</head>
@*<body>*@

<body>
    <div id="wrapper">
       

            @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>*@
            @Html.Partial("_Header")

        @*<div class="container body-content">*@
        
       
            @RenderBody()

        
            @*<hr />*@
            @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@

            @Html.Partial("_Footer")
            @*</div>*@
       
</div>
  

        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/summernote/summernote.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.superfish.js"></script>
    <script src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/jquery.jpanelmenu.js"></script>
    <script src="~/Scripts/stacktable.js"></script>
    <script src="~/Scripts/headroom.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyBBQDzpU1LJ76mjOfVhQETpKmgJOcyqTQs"></script>
    
</body>
</html>
<script>

    $(document).ready(function () {


        function initialize() {

            var input = document.getElementById('location');
            var autocomplete = new google.maps.places.Autocomplete(input);

        }
        google.maps.event.addDomListener(window, 'load', initialize);

        $('.date').datepicker({
            
            'autoclose': true
        });
        $('.time').timepicker({ 'scrollDefault': 'now' });
    });
   

</script>