﻿@using HealthCareJC.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<HealthCareJC.Models.ApplicationUser>

@{
    ApplicationDbContext db = new ApplicationDbContext();

    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
}
<hr/>
<body>
    <div id="wrapper">
        <div class="clearfix"></div>
        <div class="container">
            
            <div class="row">
                @if (obj.UserType == "Administrator")
                {
                    <nav id="breadcrumbs">
                        <ul>


                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageJobs", "Jobs")" class="btn btn-success" style="color: white">Manage Jobs</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("ManageEvents", "Eventads")" class="btn btn-success" style="color: white">Manage Event Ads</a>
                            </li>
                            <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info" style="color: white"> Manage Employers </a></li>
                            <li style="margin-bottom: 10px">

                                <a href="#" class="btn btn-info" style="color: white">Manage Job Seekers</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary" style="color: white">Manage Job Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "Specialities")" class="btn btn-success" style="color: white"> Manage Job Specialities</a>
                            </li>
                            <li style="margin-bottom: 10px">

                                <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning" style="color: white"> Manage Event Categories</a>
                            </li>
                            <li style="margin-bottom: 10px">
                                <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                            </li>


                        </ul>

                    </nav>
                }


            </div>
            <hr />


            <!-- Table -->
            <div class="row">

                <p class="margin-bottom-25">Jobseekers</p>

                <table class="manage-table responsive-table">
                    <thead>
                        <tr>
                            <th><i class="fa fa-file-text"></i>First Name</th>
                            <th><i class="fa fa-user"></i>Last Name</th>
                            <th><i class="fa fa-check-square-o"></i>Status</th>
                            <th><i class="fa fa-calendar"></i>Email</th>
                            <th><i class="fa fa-calendar"></i>Phone Number</th>


                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {

                            <tr>
                                <td class="title">@item.FirstName</td>
                                <td class="title">@item.LastName</td>
                                @if (item.Approve)
                                {
                                    <td class="title">Approved</td>
                                }
                                else
                                {
                                    <td class="title">Dis Approved</td>
                                }
                                <td class="title">@item.Email</td>
                                <td class="title">@item.PhoneNumber</td>

                                <td>
                                    @if (item.Approve)
                                    {
                                        <a href="@Url.Action("disApprove", "Users")?id=@item.Id"><i class="fa fa-pencil"></i> Dis Approve</a>
                                    }
                                    else
                                    {

                                        <a href="@Url.Action("Approve", "Users")?id=@item.Id"><i class="fa fa-pencil"></i> Approve</a>
                                    }
                                </td>

                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<br/>
<script>
    $(document).ready(function () {

        $('.manage-table').DataTable({
            "searching": false,
            "ordering": false,
            "pageLength": 10,
            "bLengthChange": false,
            "stateSave": true,
            "info": false,
            
        });


    });
</script>