﻿@using HealthCareJC.Models
@model IEnumerable<HealthCareJC.Models.JobCategory>

@{
    ViewBag.Title = "Index";
    ApplicationDbContext db = new ApplicationDbContext();
}


<hr/>
<div class="container">
    <div class="row">

        <div class="sixteen columns">
            <h3 class="margin-bottom-25">Popular Categories</h3>
            <ul id="popular-categories">


                @foreach (var item in Model)
                {
                    var count = db.Jobs.Count(x => x.CategoryId == item.Id);
                    <li><a href="@Url.Action("JobsByCategory", "Jobs", new {catId = item.Id})">
                        <i class="ln  ln-icon-Globe"></i>

                         @Html.DisplayFor(modelItem => item.CategoryName) - <b style="color: brown">@count</b>
                    </a></li>
                    
                }


            </ul>

            <div class="clearfix"></div>
            <div class="margin-top-30"></div>

         
            <div class="margin-bottom-50"></div>
        </div>
    </div>

</div>

<hr />/>


