﻿@using HealthCareJC.Models
@using Microsoft.AspNet.Identity
@model IEnumerable<HealthCareJC.Models.Speciality>

@{
    ApplicationDbContext db = new ApplicationDbContext();

    var usrid = System.Web.HttpContext.Current.User.Identity.GetUserId();

    var usr = db.Users.Find(usrid);
    var obj = db.Users.Where(u => u.Id == usr.Id).SingleOrDefault();
}

<hr />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div id="wrapper">
        <div class="row">


            <div class="container">
                <div class="row">
                    @if (obj.UserType == "Administrator")
                    {
                        <nav id="breadcrumbs">
                            <ul>


                                <li style="margin-bottom: 10px">

                                    <a href="@Url.Action("ManageJobs", "Jobs")" class="btn btn-success" style="color: white">Manage Jobs</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <a href="@Url.Action("ManageEvents", "Eventads")" class="btn btn-success" style="color: white">Manage Event Ads</a>
                                </li>
                                <li style="margin-bottom: 10px"><a href="@Url.Action("Index","Employers")" class="btn btn-info" style="color: white"> Manage Employers </a></li>
                                <li style="margin-bottom: 10px">

                                    <a href="#" class="btn btn-info" style="color: white">Manage Job Seekers</a>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <a href="@Url.Action("JobCategoriesList", "JobCategories")" class="btn btn-primary" style="color: white">Manage Job Categories</a>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <a href="@Url.Action("Index", "Specialities")" class="btn btn-success" style="color: white"> Manage Job Specialities</a>
                                </li>
                                <li style="margin-bottom: 10px">

                                    <a href="@Url.Action("Index", "EventCategories")" class="btn btn-warning" style="color: white"> Manage Event Categories</a>
                                </li>
                                <li style="margin-bottom: 10px">
                                    <a href="@Url.Action("ClearLogin","Account")" class="btn btn-link">Log Out</a>
                                </li>


                            </ul>

                        </nav>
                    }


                </div>
                <hr/>
                <span class="pull-left">
                    <h3>Job Specialties</h3></span>
                <span class="pull-right">
                    <p>
                        @Html.ActionLink("Create New", "Create", new {@class = "btn btn-primary"})
                    </p>
                </span>

                <table class="table">
                    @*<tr>
                        <th>
                            Specialty Name
                        </th>
                        <th></th>
                    </tr>*@

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) @*|*@

                                @*@Html.ActionLink("Delete", "Delete", new {id = item.Id})*@
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</body>
</html>
